<div class="o-layout">
  <div class="o-layout--center">
    <hr class="border-b border-grey-lighter mb-12 mt-12" />
    <div class="flex">
      <img src="/portrait.jpg" srcset="/portrait@2x.jpg 2x" class="w-24 h-24 flex-no-shrink rounded-full" />
      <div class="ml-4">
        <h2 class="text-base mb-1">Devin Schulz</h2>
        <p class="mb-0">
          Hey there, I'm Devin, the creator of this blog. Outside the digital world,  my
          time is well spent with my wife and two children. Whenever I get the chance,
          I enjoy listening to music or audiobooks, reading business books, and playing
          mobile games.
        </p>
      </div>
    </div>
  </div>
</div>
