<header class="c-intro container flex-col md:flex-row md:items-center py-24">
  <div class="c-intro__wrapper o-layout md:items-center">
    <div class="c-intro__content o-layout--center">
      <h1 class="text-3xl">Hey, I'm Devin!</h1>
      <p class="text-xl leading- mb-4">
        A front-end developer that specializes in building web
        applications that are performant, accessible, and focused on the
        user experience.
      </p>
      <div class="w-10 border-blue-500 border-2"></div>
    </div>
  </div>
</header>
