<header class="c-intro flex-col md:flex-row md:items-center py-24 mb-12">
  <div class="c-intro__wrapper o-layout container md:items-center">
    <div class="c-intro__content o-layout--semi">
      <h1 class="">Hey, I'm Devin!</h1>
      <p class="font-sans text-2xl leading-tight mb-8">
        A front-end developer that specializes in building web
        applications that are performant, accessible, and focused on the
        user experience.
      </p>
      <div class="w-10 border-blue border-2"></div>
    </div>
  </div>
</header>
