<header class="c-intro flex flex-col md:flex-row md:items-center text-center md:text-left py-24 bg-grey-lightest mb-12">
  <div class="o-layout container md:items-center">
    <div class="c-intro__frame mb-4 bg-grey-lighter flex justify-center items-center rounded-full mx-auto max-w-full relative md:mb-0">
      <img src="/me.png" class="c-intro__image m-auto absolute" srcset="/me.png, me@2x.png 2x"/>
    </div>
    <div class="c-intro__content">
      <h1>Hey, I'm Devin!</h1>
      <p class="font-sans text-2xl mb-0 leading-tight">
        I’m a front-end developer that specializes in building web
        applications that are performant, accessible, and focused on the
        user experience.
      </p>
    </div>
  </div>
</header>
