<header data-controller="page-header" class="c-site-header py-2{{ if not .IsHome }} mb-12{{ end }}">
  <div class="container">
    <div class="o-layout">
      <div class="o-layout--center">
        <div class="flex items-center">
          <a data-action="mouseenter->page-header#animate focus->page-header#animate animationend->page-header#cleanup" href="/" class="bg-grey-lightest u-unstyled-link hover:bg-grey-lighter rounded-full w-16 h-16 inline-flex items-center justify-center">
            <img class="c-site-header__img" src="/me-small.png" srcset="/me-small@2x.png 2x" alt="Illustration of Devin Schulz's face">
          </a>
          <nav class="ml-auto flex">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
              <a href="{{ .URL }}" class="text-sm {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}font-bold{{ end }}">{{ .Name }}</a>
            {{ end }}
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
