<div class="text-grey-darker text-sm mb-1">
  {{ with .Params.categories }}
    {{ range . }}
        <a href="/categories/{{ . | urlize}}" class="font-bold inline-block">{{ . }}</a>
      <span>&middot;</span>
    {{ end }}
  {{ end }}
  <time datetime="{{ .Date }}">
    {{- if .shortDate -}}
      {{- .ctx.Date.Format "January 2" -}}
    {{- else -}}
      {{- .ctx.Date.Format "January 2, 2006" -}}
    {{- end -}}
  </time>
  <span>&middot;</span>
  <span>{{ .ctx.ReadingTime }} min read</span>
</div>
