<ul>
  {{ if .Site.Params.socialShareTwitter }}
    <li>
      <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}" target="_blank">
        Twitter
      </a>
    </li>
  {{ end }}

  {{ if .Site.Params.socialShareFacebook }}
    <li>
      <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
        Facebook
      </a>
    </li>
  {{ end }}

  {{ if .Site.Params.socialShareReddit }}
    <li>
      <a  href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank">
        Reddit
      </a>
    </li>
  {{ end }}

  {{ if .Site.Params.socialShareLinkedin }}
    <li>
      <a  href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank">
        LinkedIn
      </a>
    </li>
  {{ end }}

  {{ if .Site.Params.socialShareEmail }}
    <li>
      <a  href="mailto:?subject=Check out this post by {{  .Params.author  }}&amp;body={{ .Permalink }}" target="_blank">
        Email
      </a>
    </li>
  {{ end }}
</ul>
