<footer role="contentinfo" class="c-site-footer container pt-12 pb-6">
  <div class="o-layout text-sm dark:text-grey-300">
    <div class="o-layout--center">
      <div class="lowercase">
        {{ partial "social-follow" . }}
        &middot;
        <a href="/posts/index.xml">RSS</a>
        &middot;
        <a href="/privacy">Privacy</a>
      </div>
      <small class="font-xs">&copy;{{ now.Format "2006" }} {{ .Site.Title }}</small>
      <small data-target="loaded-in.time"></small>
    </div>
  </div>
  <a data-controller="scroll-top" data-action="scroll@window->scroll-top#checkPosition" href="#top" class="c-site-footer__scroll-top fixed no-underline shadow-md hover:shadow-lg rounded z-30 bg-grey-800 py-2 px-4 text-sm text-white flex items-center justify-center">Back to top</a>
</footer>
