<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "32px" }}
{{ with .Param "twitter" }}
  <a href="{{ . }}" target="_blank" class="twitter inline-block" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">Twitter</a>
{{ end }}
{{ with .Param "linkedin" }}
  &middot;
  <a href="{{ . }}" target="_blank" class="linkedin inline-block" title="LinkedIn link" rel="noopener" aria-label="follow on LinkedIn——Opens in a new window">LinkedIn</a>
{{ end }}
{{ with .Param "github" }}
  &middot;
  <a href="{{ . }}" target="_blank" class="github inline-block" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">Github</a>
{{ end }}
