{{ $heading := .heading | default "h2" }}
{{ $id := (default .ctx.UniqueID .ctx.Params.id) }}

<article class="c-summary o-layout {{ if .condensed }}c-summary--condensed mb-2{{ else }}mb-12{{ end }}">
  <div class="o-layout--center">
    <header class="c-summary__header mb-4">
      <div class="text-grey-darker text-sm mb-1">
        {{ with .ctx.Params.categories }}
          {{ range . }}
              <a href="/categories/{{ . | urlize}}" class="font-bold inline-block">{{ . }}</a>
            <span>&middot;</span>
          {{ end }}
        {{ end }}
        {{ partial "datetime.html" .ctx }}
        <span>&middot;</span>
        <span>{{ .ctx.ReadingTime }} min read</span>
        {{ if .likes }}
          {{ with (index .likes $id) }}
            <span class="js-likes-wrapper">
              <span>&middot;</span>
              <span><span class="js-likes" id="{{ $id }}">{{ .count }}</span> {{ if eq .count 1 }}like{{ else }}likes{{ end }}</span>
            </span>
          {{ end }}
        {{ else }}
          <span class="js-likes-wrapper hidden">
            <span>&middot;</span>
            <span><span class="js-likes" id="{{ $id }}">0</span> likes</span>
          </span>
        {{ end }}
      </div>
      {{ $startTag := printf "<%s class=\"mb-0\">" $heading }}
      {{ $endTag := printf "</%s>" $heading }}
      {{ $startTag | safeHTML }}
        <a href="{{ .ctx.URL }}" class="u-unstyled-link">{{ .ctx.Title }}</a>
      {{ $endTag | safeHTML }}
    </header>
    {{ if not .condensed }}
      <div class="c-summary__intro u-hyphen">
        {{ if in .ctx.RawContent "<!--more-->" }}
          {{ .ctx.Summary | safeHTML }}
        {{ else }}
          <p>{{ .ctx.Summary }}</p>
        {{ end }}
      </div>
      {{ partial "tags.html" .ctx }}
    {{ end }}
  </div>
</article>
