{{ with .Params.tags }}
  <ul class="list-reset text-xs mb-2">
    {{ range . }}
      <li class="c-tag inline-block mr-2">
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="c-tag__link u-unstyled-link relative block mb-2 no-underline text-blue bg-blue-lightest hover:text-white hover:bg-blue hover:no-underline focus:no-underline focus:bg-blue focus:text-white py-1 px-4 rounded-full">
          <span class="relative block">{{- . -}}</span>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
