.c-form {
  .c-icon--markdown {
    color: $color-headings;
    height: auto;
    margin-right: $xs;
    width: $s;
    display: inline-block;
  }
}

.c-form__help {
  color: $color-text-light;
  margin-top: $xxs;
}

.c-form__required {
  color: $color-input-error;
}

.c-form__error {
  border-color: $color-input-error !important;
}

.c-form__error-message {
  @extend .u-font-sans;
  @extend .u-small-text;
  color: $color-input-error;
  margin-top: vr(0.25);
}

.c-form__comment {
  display: grid;
  grid-template-rows: auto auto auto;
}

.c-form__alert {
  display: none;

  &:target {
    display: block;
  }
}

.c-form__header {
  display: flex;
  align-items: center;
}
