.c-btn {
  @extend .u-font-sans;
  -webkit-appearance: none;
  background-color: $color-btn-primary-background;
  border-radius: $global-radius;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba($color-btn-primary-background, 0.11),
    0 1px 3px 0 rgba($black, 0.1);
  box-shadow: none;
  color: $color-btn-primary-text;
  display: inline-block;
  padding: vr(0.25) vr(1);
  text-align: center;
  transition: all 0.2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  will-change: transition;

  @include hover-focus {
    background-color: $color-btn-primary-background-hover;
    box-shadow: 0 7px 14px 0 rgba($color-btn-primary-background, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }

  @include active {
    background-color: $color-btn-primary-background-active;
    box-shadow: none;
    transform: translateY(0);
  }

  &:disabled {
    background-color: $color-btn-primary-background;
    box-shadow: none;
    opacity: 0.5;
    transform: translateY(0);
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &.is-loading {
    .loader {
      @include loader02(
        $size: vr(0.45),
        $color: $color-white,
        $border-size: 2px,
        $duration: 0.5s
      );
      display: inline-block;
      margin-right: vr(0.5);
      margin-top: vr(0.2);
    }
  }
}

fieldset:disabled a.c-btn,
a.c-btn:disabled {
  pointer-events: none;
}

.c-btn__link {
  background-color: transparent;
  color: currentColor;
  box-shadow: none;

  @include hover-focus-active {
    background-color: transparent;
    box-shadow: none;
    transform: none;
  }
}
