.c-skip {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: vr(0.25) vr(0.5);

  @include focus {
    opacity: 1;
    transform: translateY(0);
  }
}
