/*----------------------------------*\
    #NAV PILLS
\*----------------------------------*/

.c-nav-pills {
  margin-left: 0;
}

.c-nav-pills__item {
  display: inline-block;

  + .c-nav-pills__item {
    margin: 0 0 var(--global-spacing-tiny) var(--global-spacing-tiny);
  }

}

@media (--tablet-viewport) {

  .c-nav-pills__item {

    + .c-nav-pills__item {
      margin: 0 0 var(--global-spacing-small) var(--global-spacing-small);
    }

  }

}

.c-nav-pills__link {
  font-size: .875rem;
  background-color: var(--color-athens-gray);
  border-radius: 25px;
  color: var(--color-ebony-clay);
  display: block;
  padding: var(--global-spacing-small) var(--global-spacing-medium);

  &.c-nav-pills__active,
  &:--active {
    color: var(--color-white);
    background-color: var(--color-ebony-clay);
    text-decoration: none; /* override the default link underline */
  }

}

@media (--tablet-viewport) {

  .c-nav-pills__link {
    font-size: 1.125rem;
  }

}

