.c-toc {
  ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
  }

  a {
    position: relative;
  }
}

.c-toc__icon {
  right: $s * -1;
  position: absolute;

  @include mq(large) {
    left: -1.2em;
  }

  .c-icon {
    @include size(0.8em);
  }
}
