.c-comments__list {
  list-style: none;
}

.is-nested {
  border-left: 1px solid $color-lines;
  padding-left: $xs;

  @include mq(medium) {
    padding-left: $m;
  }
}

.c-comment__depth-0 {
  padding-left: 0;
}

.c-comment__header {
  display: flex;
  align-items: center;
}

.c-comment__author {
  margin: 0;
}

.c-comment__avatar {
  border-radius: 40px;
  max-width: 40px;
  height: auto;

  @include mq(medium) {
    max-width: 60px;
  }
}

.c-comment__timestamp {
  margin-left: auto;
  color: $color-text-light;
  @include typi('small');
  font-family: $font-family-sans;
}

.c-comment__permalink {
  .c-icon--link {
    @include size(0.9em);
    color: $color-text-light;
    transition: color 0.2;

    @include hover {
      color: $color-link;
    }
  }
}

.c-comment__reply {
  font-family: $font-family-sans;

  &.is-disabled {
    display: none;
  }
}
