.c-form {
  .c-icon--markdown {
    color: $color-headings;
    height: auto;
    margin-right: vr(0.25);
    width: vr(0.75);
    display: inline-block;
  }
}

.c-form__help {
  color: $color-text-light;
  float: right;
  font-family: $font-family-sans;
  margin-top: vr(0.25);
}

.c-form__btn-group {
  display: flex;
  align-items: flex-end;

  a {
    margin-left: auto;
    margin-right: vr(1);
  }
}

.c-form__group {
  margin-bottom: vr(1);
}

.c-form__required {
  color: $color-input-error;
}

.c-form__error {
  border-color: $color-input-error !important;
}

.c-form__error-message {
  @extend .u-small-text;
  color: $color-input-error;
  font-family: $font-family-sans;
  margin-top: vr(0.25);
}

.c-form__comment {
  display: grid;
  grid-template-rows: auto auto auto;
}
