.c-comments {
  margin-top: vr(2);
}

.c-comments__list {
  list-style: none;

  &.is-nested {
    margin-top: vr(1);
  }
}

.c-comment__depth-0 {
  padding-left: 0;
}

.c-comment {
  margin-bottom: vr(1);
}

.c-comment__header {
  display: flex;
  align-items: center;
  margin-bottom: vr(1);
}

.c-comment__author {
  margin: 0;
}

.c-comment__avatar {
  border-radius: 40px;
  margin-right: vr(0.5);
}

.c-comment__timestamp {
  margin-left: auto;
  color: $color-text-light;
  font-family: $font-family-monospace;
  @include typi('small');
}

.c-comment__permalink {
  .c-icon--link {
    @include size(0.9em);
    color: $color-text-light;
    transition: color 0.2;

    @include hover {
      color: $color-link;
    }
  }
}

.c-comment__reply + .c-form {
  margin-top: vr(1);
}
