/*----------------------------------*\
    #NAVIGATION
\*----------------------------------*/

.c-main-nav {
  margin-bottom: var(--global-spacing-large);
  padding: var(--global-spacing-small) 0;
}

@media (--mobile-viewport-only) {

  .c-main-nav.c-main-nav--active {
    background: var(--color-white);
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 100;
  }

}

@media (--desktop-viewport) {

  .c-main-nav {
    margin-bottom: var(--global-spacing-huge);
  }

}

.c-main-nav__wrapper {

}

@media (--mobile-viewport-only) {

  .c-main-nav__wrapper {
    height: 100%;
  }

}

.c-main-nav__layout {

}

@media (--mobile-viewport-only) {

  .c-main-nav__layout {
    display: grid;
    grid-template-columns: 56px auto;
    grid-template-rows: 25px auto;
    height: 100%;
  }

}

.c-main-nav__toggle {
  display: none;
}

@media (--mobile-viewport-only) {

  .c-main-nav__toggle {
    display: flex;
    align-self: center;
    justify-self: end;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    width: 20px;
  }

}

@media (--mobile-viewport-only) {

  .c-main-nav__bar {
    align-self: flex-end;
    background-color: var(--color-ebony-clay);
    height: 2px;
    width: 100%;

    &:nth-child(2) {
      width: 65%;
    }

    .c-main-nav--active & {
      margin-right: 5px;

      &:nth-child(1) {
        transform: rotate(-45deg);
        transform-origin: top right;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
        transform-origin: bottom right;
      }

    }

  }

}

.c-main-nav__links {
  display: none;
}

@media (--mobile-viewport-only) {

  .c-main-nav__links {
    grid-column: 1 / span 2;
    align-self: end;

    .c-main-nav--active & {
      display: grid;
    }

  }

}

@media (--tablet-viewport) {

  .c-main-nav__links {
    display: block;
    margin-left: auto;
  }

}

.c-main-nav__home {
  display: flex;
  align-items: center;
}

.c-main-nav__link {

  &:--enter {
    text-decoration: none;
  }
}

@media (--mobile-viewport-only) {

  .c-main-nav__link {
    font-size: 2.639rem;
    font-weight: bold;
  }

}

@media (--tablet-viewport) {

  .c-main-nav__link {

    + .c-main-nav__link {
      margin-left: var(--global-spacing-medium);
    }

  }

}

.c-main-nav__link--active {
  font-weight: bold;
}

.c-main-nav__logo {

  path {
    fill: var(--color-ebony-clay);
    fill-rule: evenodd;
  }

}
