.c-main-nav {
  margin-bottom: vr(1);
  padding: vr(1) 0;

  @include mq(medium) {
    margin-top: vr(2);
    margin-bottom: vr(2);
  }
}

.c-main-nav__wrapper {
  display: flex;
  align-items: center;
}

.c-main-nav__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.c-main-nav__logo {
  color: inherit;
  font: $font-weight-default-bold 1.2rem $font-family-sans;
}

.c-main-nav__links {
  @include typi('small');
  margin-left: auto;
  font-family: $font-family-sans;

  a + a {
    margin-left: vr(0.5);

    @include mq(medium) {
      margin-left: vr(1);
    }
  }
}

.c-main-nav__link--active {
  color: $color-active !important;
  font-weight: $font-weight-default-bold;
}
