.c-article__link {
  color: $color-text-light;

  @include hover {
    color: $color-link;
  }

  @include mq(large) {
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 10px;
  }
}

.c-article__content {
  .c-icon--link {
    color: $color-link;
    opacity: 0.5;
    margin-left: 0.25em;
    @include size(0.75em);
    transition: opacity 0.2s;

    @include hover-focus {
      opacity: 1;
    }

    @include mq(xlarge) {
      @include size(0.5em);
      margin-top: 0.2em;
    }
  }

  h1,
  h2,
  h3,
  hr,
  h5,
  h6 {
    position: relative;
  }
}
