.c-footer {
  margin-bottom: $m;
  margin-top: $l;

  @include mq(medium) {
    margin-bottom: $l;
    margin-top: $xl;
  }

  @include mq(xlarge) {
    margin-bottom: $xl;
  }

  @include mq(xlarge) {
    margin-top: $xxl;
  }
}

.c-footer__list-group {
  display: flex;
}

.c-footer__list {
  list-style: none;
  padding-left: 0;
  line-height: 2;
  margin-bottom: 0;
}

.c-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.c-footer__link--active {
  font-weight: $font-weight-default-bold;
}
