.c-article--summary {
  & + & {
    margin-top: vr(2);
  }
}

.c-article__title {
  margin-top: vr(0.25);
  margin-bottom: vr(0.75);
}

.c-article__body {
  margin-bottom: vr(0.5);
}

.c-article__heading {
  @include mq(large) {
    position: relative;
  }
}

.c-article__link {
  color: $color-text-light;

  @include hover {
    color: $color-link;
  }

  @include mq(large) {
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 10px;
  }
}

.c-article__content {
  margin-bottom: vr(3);

  .c-icon--link {
    color: $color-text-light;
    margin-left: 0.25em;
    @include size(0.75em);

    @include mq(xlarge) {
      @include size(0.5em);
      margin-top: 0.2em;
    }
  }
}

.c-article__share {
  margin-bottom: vr(3);
}
