.c-masthead {
  align-items: center;
  background-color: $color-light-background;
  display: flex;
  height: vr(7);
  position: relative;

  .theme-dark & {
    background-color: $color-dark-light-background;
  }

  @include mq(medium) {
    height: vr(13);
  }

  @include mq(xlarge) {
    height: vr(16);
  }
}

.c-masthead__pic {
  bottom: 0;
  position: absolute;
  right: 4vw;
  z-index: 2;

  @include mq(medium) {
    right: $m;
  }

  @include mq(xlarge) {
    right: $m;
  }
}

.c-masthead__shape {
  height: auto;
  position: absolute;
  right: 0;
  top: $xs * -1;
  max-width: vr(5);
  z-index: 1;

  @include mq(medium) {
    top: $m * -1;
    max-width: vr(11);
  }

  @include mq(large) {
    right: $l * -1;
  }

  @include mq(xlarge) {
    right: $xl * -1;
    max-width: vr(14);
  }

  path {
    fill: $color-lighter-background;

    .theme-dark & {
      fill: $color-dark-lighter-background;
    }
  }
}

.c-masthead__hr {
  width: $xl;
  border-bottom: 1px solid $color-lines;
  margin: 0 auto;

  .theme-dark & {
    border-color: $color-dark-lines;
  }
}

.c-masthead__image {
  display: block;
  margin: $m -4vw 0;

  @include mq(medium) {
    margin: $m 0 0;
  }

  img {
    width: 100%;
    height: auto;
    @include mq(medium) {
      border-radius: $global-radius;
    }
  }
}
