{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "main" }}
  <article class="container o-layout">
    <div class="o-layout--center">
      <h1>Articles tagged "{{ .Title }}"</h1>
      <!-- <p>Below you will find pages that utilize the taxonomy term “{{ .Title }}”</p> -->
    </div>
  </article>
  <div>
    <section class="container">
      <div class="o-layout">
      <ul class="o-layout--center">
      {{ range .Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        <!-- {{ partial "summary.html" (dict "ctx" . "condensed" true) }} -->
      {{ end }}
      </ul>
      </div>
    </section>

  </div>
{{ end }}
