{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "main" }}
  <article class="container o-layout js-likes-list">
    <div class="o-layout--center">
      <h1 class="mb-12">Articles tagged "{{ .Title }}"</h1>
    </div>
  </article>
  <div>
    <section class="container">
      {{ $likes := getJSON (printf "%s/" .Site.Params.cloudFunctionsEndpoint) }}
      {{ range .Pages }}
        {{ partial "summary.html" (dict "ctx" . "condensed" true "likes" $likes) }}
      {{ end }}
    </section>

  </div>
{{ end }}
