{{ define "main" }}
{{ $data := .Data }}
<article>
  <div>
    {{ .Content }}
  </div>
</article>
<div>
  <section class="container">
    <div class="o-layout">
      <div class="o-layout--center">
        {{ range $key, $value := .Data.Terms }}
          <h2 class="mb-8">
            <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
              {{ $.Data.Singular | humanize }}: {{ $key | humanize | title }}
            </a>
          </h2>
          {{ partial "summaries.html" $value.Pages }}
        {{ end }}
      </div>
    </div>
  </section>
</div>
{{ end }}
