public
node_modules
.DS_Store
/resources/_gen/assets
/assets/main.css
/assets/scripts.js
/.firebase
site/data/webpack.json
dist
.tern-port

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
