{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "embeddedLanguageFormatting": "auto",
  "trailingComma": "all",
  "bracketSpacing": false,
  "proseWrap": "always",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
