.chroma {
  // LineTableTD
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  // LineTable
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
  }
  // LineHighlight
  .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc;
  }
  // LineNumbersTable
  .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
  }
  // LineNumbers
  .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
  }
  .se,
  // LiteralStringInterpol
  .si {
    font-weight: bold;
    font-style: italic;
  }
  // LiteralString
  .s,
  // LiteralStringAffix
  .sa,
  // LiteralStringBacktick
  .sb,
  // LiteralStringChar
  .sc,
  // LiteralStringDelimiter
  .dl,
  // LiteralStringDoc
  .sd,
  // LiteralStringDouble
  .s2,
  // LiteralStringHeredoc
  .sh,
  // LiteralStringOther
  .sx,
  // LiteralStringRegex
  .sr,
  // LiteralStringSingle
  .s1,
  // LiteralStringSymbol
  .ss,
  // Comment
  .c,
  // CommentHashbang
  .ch,
  // CommentMultiline
  .cm,
  // CommentSingle
  .c1,
  // CommentSpecial
  .cs,
  // GenericEmph
  .ge {
    font-style: italic;
  }
  // Keyword
  .k,
  // KeywordConstant
  .kc,
  // KeywordDeclaration
  .kd,
  // KeywordNamespace
  .kn,
  // KeywordReserved
  .kr,
  // NameEntity
  .ni,
  // NameException
  .ne,
  // NameNamespace
  .nn,
  // NameTag
  .nt,
  // OperatorWord
  .ow,
  // GenericHeading
  .gh ,
// GenericPrompt
  .gp,
  // GenericStrong
  .gs,
  // GenericSubheading
  .gu {
    font-weight: bold;
  }
}
