.post-content {
  ul,
  ol {
    @apply pl-4 mb-4;

    img {
      @apply mt-4;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
  }

  ol {
    list-style-type: decimal;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8;

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      @apply -mt-2;
    }
  }

  a {
    text-shadow: #fff -1px -1px 0, #fff 1px -1px 0, #fff -1px 1px 0,
      #fff 1px 1px 0;
    background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 1px,
      theme('colors.gray.500') 0,
      theme('colors.gray.500') 2px,
      hsla(0, 0%, 100%, 0) 0
    );

    &:hover,
    &:focus {
      @apply text-orange-500;
      background-image: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0) 1px,
        theme('colors.orange.300') 0,
        theme('colors.orange.300') 2px,
        hsla(0, 0%, 100%, 0) 0
      );
    }
  }
}
