html {
  font-size: 18px;
}

@screen md {
  html {
    font-size: 20px;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fbfbfb;
}

::selection {
  @apply text-black;
  text-shadow: none !important;
  background-color: #FFF7B6;
}
