html {
  font-size: 18px;
}

@screen sm {
  html {
    font-size: 20px;
  }
}

html,
body {
  overflow-x: hidden;
}

::selection {
  @apply text-black;
  text-shadow: none !important;
  background-color: #fff7b6;
}
