h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight font-bold tracking-tight text-black mb-4 font-display;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

p {
  @apply leading-relaxed mb-4;
}
