---
import { getCollection } from "astro:content";
import Container from "../../components/Container.astro";
import Layout from "../../components/Layout.astro";
import Masthead from "../../components/Masthead.astro";
import PostList from "../../components/PostList.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<Layout
  title="Blog"
  description="Articles about React, JavaScript, testing, best practices, performance, and everything else related to front-end development."
>
  <Container>
    <section>
      <Masthead title="Blog" />
      <PostList posts={posts} />
    </section>
  </Container>
</Layout>
