.o-container {
  margin: 0 auto;
  padding: 0 4vw;

  @include mq(medium) {
    padding: 0 $m;
  }

  @include mq(large) {
    max-width: vr(40);
  }
}

.o-container--small {
  @include mq(large) {
    max-width: vr(20);
  }
}
