.o-grid {
  @include mq(medium) {
    display: grid;
    grid-gap: $m;
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-grid--swapped {
  .o-grid__item {
    @include mq(medium) {
      &:nth-child(even) {
        order: 1;
      }

      &:nth-child(odd) {
        order: 2;
      }
    }
  }
}

.o-grid__item {
  min-width: 0; // Firefox fix
}
