.u-font-sans {
  font-family: $font-family-sans-fallback;

  .fonts-loaded & {
    font-family: $font-family-sans;
  }
}

.u-font-mono {
  font-family: monospace;

  .fonts-loaded & {
    font-family: $font-family-monospace;
  }
}
