@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.link,
.article a {
  @apply text-blue-600 no-underline decoration-blue-500/50 dark:text-gray-400 dark:underline dark:decoration-gray-700 dark:decoration-1;
  text-underline-offset: 0.2ex;
  transition:
    color 0.3s,
    text-decoration-color 0.2s,
    text-underline-offset 0.2s;
}

.link:hover,
.article a:hover {
  @apply text-blue-800 decoration-blue-800 dark:text-blue-600 dark:decoration-blue-600 dark:hover:text-gray-200 dark:hover:decoration-gray-500;
  text-underline-offset: 0.3em;
}
