@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.link,
.article a {
  @apply text-blue-600 decoration-blue-500/50 dark:text-blue-400;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2ex;
  transition:
    color 0.3s,
    text-decoration-color 0.2s,
    text-underline-offset 0.2s;
}

.link:hover,
.article a:hover {
  @apply text-blue-800 decoration-blue-800 dark:text-blue-600 dark:decoration-blue-600;
  text-underline-offset: 0.3em;
}
