{{ with .post }}
  <article{{ if ne $.lastIndex $.index }} class="mb-12 md:mb-16"{{ end }}>
    {{ partial "category-meta" . }}
     <h2 class="mb-2{{ if eq 0 $.index }} md:text-4xl{{ end }}">
       <a href="{{ .Permalink | relURL }}" class="hover-line">{{ .Title }}</a>
     </h2>
     <div class="summary-content">
       {{ if eq 0 $.index}}
         {{ .Summary }}
       {{ else }}
         {{ with .Description }}
           <p>{{ . }}</p>
         {{ else }}
           {{ .Summary }}
         {{ end }}
       {{ end }}
     </div>
     {{ partial "post-metadata" . }}
   </article>
{{ end }}
