<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="overflow-x-hidden">
  {{- partial "head.html" . -}}
  <body class="text-gray-800 font-body overflow-x-hidden">
    {{- partial "header.html" . -}}
    <main>
      {{- block "main" . }}{{- end -}}
    </main>
    {{- partial "footer.html" . -}}

    <script>
     (function(f, a, t, h, o, m){
       a[h]=a[h]||function(){
         (a[h].q=a[h].q||[]).push(arguments)
       };
       o=f.createElement('script'),
       m=f.getElementsByTagName('script')[0];
       o.async=1; o.src=t; o.id='fathom-script';
       m.parentNode.insertBefore(o,m)
     })(document, window, window.location.origin + '/telem/tracker.js', 'fathom');
     fathom('set', 'siteId', 'IRYBDMMH');
     fathom('trackPageview');
    </script>
  </body>
</html>
