{{ define "main" }}
  {{ $currentURL := .URL }}
  <div class="o-wrapper">
    <div class="o-layout">
      <div class="o-layout__item--large">
        <h1> Posts about {{ .Title }}</h1>
        {{ if eq .Kind "taxonomy" }}
          <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories  }}
              {{ $link := $name | urlize | printf "%s%s" "/categories/" | printf "%s/" }}
              <li>
                {{ if eq $currentURL $link }}
                  {{ $name }}
                {{ else }}
                  <a href="{{ $link }}">{{ $name }}</a>
                {{ end }}
              </li>
            {{ end }}
          </ul>
          {{ end }}
      </div>
    </div>
    {{ range .Data.Pages }}
      {{ partial "summary.html" . }}
    {{ end }}
  </div>
{{ end }}
