{{ define "main" }}
  <section class="container mx-auto px-4">
    <header class="mb-12">
      <h1 class="mb-4">
        <span class="text-grey-darkest no-sr-only">#</span>{{ .Title | urlize }}
      </h1>
      <div class="flex text-xs text-grey-darkest font-medium tracking-wide">
        <p class="mb-0">
          Found
          <strong>{{ len .Pages }}</strong>
          {{ cond (eq (len .Pages) 1) "post" "posts" }} tagged with
          <strong
            ><span class="no-sr-only text-grey-darkest">#</span
            >{{ .Title | urlize }}</strong
          >.
        </p>
      </div>
    </header>
    {{ partial "summary-list" .Pages }}
  </section>
{{ end }}
