h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-display-fallback;
  font-weight: $font-weight-display;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  margin-top: vr(1);
  margin-bottom: vr(1);
  color: $color-headings;
  letter-spacing: -1px;

  .fonts-loaded & {
    font-family: $font-family-display;
  }

  a {
    color: inherit;
    background-image: none;

    @include hover-focus {
      background-image: none;
      color: darken($color-headings, 10%);
    }
  }
}

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
  #{$heading},
  .#{$heading} {
    @include typi('#{$heading}');
  }
}
