pre {
  background-color: $color-light-background;
  overflow-x: auto;
  display: block;
  @extend .o-layout--extended-width-small;
  @extend .o-layout--inset-small;

  > code {
    padding: vr(1) 0;
    display: inline-block;

    @include mq(medium) {
      padding: vr(1) 0;
    }

    @include mq(large) {
      padding: vr(1);
    }
  }
}
