@include typi-init;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-default-fallback;
  font-weight: $font-weight-default;
  color: $color-text;
  background-color: $color-black;

  .fonts-loaded & {
    font-family: $font-family-default;
  }
}

::selection {
  background-color: $color-selection;
  color: inherit;
  text-shadow: none;
}
