input[type='email'],
input[type='text'],
input[type='url'],
textarea {
  border-radius: 0;
  display: block;
  padding: vr(0.5);
  width: 100%;
  background-color: $color-input-background;
  border: 1px solid $color-input-border;
  box-shadow: none;

  &:focus {
    outline: none;
    border-color: $color-input-border-active;
  }

  &:placeholder {
    color: $color-input-placeholder;
    opacity: 1;
  }
}

label {
  margin-bottom: vr(0.5);
}

fieldset {
  margin-bottom: vr(0.5);
}

input[type='checkbox'] {
  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      padding-left: vr(1.25);
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        @include size(vr(1));
        border: 1px solid $color-input-border;
        background: $color-input-radio-background;
        border-radius: $global-radius;
        transition: background 0.4s;
      }

      &::after {
        content: '';
        position: absolute;
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
        top: vr(0.25 / 2);
        left: vr(0.25 / 2);
        color: $white;
        transition: transform 0.2s;
        @include size(vr(0.75));
      }
    }
  }

  &:not(:checked) {
    + label {
      &::after {
        opacity: 0;
        transform: scale(0);
      }
    }
  }

  &:checked {
    + label {
      &::before {
        background: $color-input-radio-background-active;
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

/* accessibility */
[type='checkbox']:checked:focus + label:before {
  border: 1px dotted $white;
}

[type='checkbox']:not(:checked):focus + label:before {
  border: 1px dotted $color-active;
}
