/*----------------------------------*\
    #LINKS
\*----------------------------------*/

a {
  text-decoration: none;
  color: var(--color-brand);
  text-decoration-skip: ink;

  &:--enter {
    text-decoration: underline;
  }

  &:--active {
    outline: 0;
  }

}
