pre {
  @include typi('code');
  background-color: $color-light-background;
  overflow-x: auto;
  display: block;
  @extend .o-layout--extended-width-small;
  @extend .o-layout--inset-small;

  > code {
    padding: $m 0;
    display: inline-block;

    @include mq(medium) {
      padding: $m 0;
    }

    @include mq(large) {
      padding: $m;
    }
  }
}
