/*----------------------------------*\
    #PAGE
\*----------------------------------*/
html {
  font-size: 16px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-florid);
  font-family: var(--base-font-family);
  line-height: 1.6;
  letter-spacing: .021rem;
}
