pre {
  @include typi('code');
  background-color: $color-light-background;
  overflow-x: auto;
  display: block;
  @extend .o-layout--extended-width-small;
  @extend .o-layout--inset-small;

  .theme-dark & {
    background-color: $color-dark-light-background;
  }

  @include mq(large) {
    border-radius: $global-radius;
  }

  > code {
    color: inherit;
    padding: $m 0;
    display: inline-block;
    border: 0;

    .theme-dark & {
      color: inherit;
    }

    @include mq(medium) {
      padding: $m 0;
    }

    @include mq(large) {
      padding: $m;
    }
  }
}

code {
  background-color: $color-light-background;
  padding: $xxs / 2 $xxs;
  color: $color-link;

  .theme-dark & {
    background-color: $color-dark-light-background;
    color: $color-dark-link;
  }
}
