/*----------------------------------*\
    #HEADINGS
\*----------------------------------*/

/**
 * Typescale based on the perfect fourth.
 * http://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=--apple-system&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--base-heading-weight);
  line-height: 1.2;
  letter-spacing: -0.075rem; /* -1.2px */
  color: var(--color-ebony-clay);

  a {
    color: inherit;

    &:--enter {
      color: var(--color-ribbon-blue);
      text-decoration: none;
    }

  }

}

h1 { font-size: 3.157rem; }
h2 { font-size: 2.639rem; }
h3 { font-size: 1.777rem; }
h4 { font-size: 1.333rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.75rem; }
