pre {
  @include typi('code');
  background-color: $color-light-background;
  overflow-x: auto;
  display: block;
  @extend .o-layout--extended-width-small;
  @extend .o-layout--inset-small;
  border-top: 1px solid $color-lines;
  border-bottom: 1px solid $color-lines;

  .theme-dark & {
    background-color: $color-dark-light-background;
    border-color: $color-dark-lines;
  }

  @include mq(large) {
    border: 1px solid $color-lines;
    border-radius: $global-radius;
  }

  > code {
    padding: $m 0;
    display: inline-block;
    border: 0;

    @include mq(medium) {
      padding: $m 0;
    }

    @include mq(large) {
      padding: $m;
    }
  }
}

code {
  background-color: $color-light-background;
  border: 1px solid $color-lines;
  padding-left: $xxs;
  padding-right: $xxs;

  .theme-dark & {
    background-color: $color-dark-light-background;
    border-color: $color-dark-lines;
  }
}
