/*----------------------------------*\
    #PAGE
\*----------------------------------*/
html {
  font-size: 1em; /* 16px */
}

@media (--tablet-viewport) {

  html {
    font-size: 1.125em; /* 18px */
  }

}

body {
  font-family: var(--base-font-family);
  line-height: 1.5;
  color: var(--color-florid);
}
