/*----------------------------------*\
    #LINKS
\*----------------------------------*/

a {
  text-decoration: none;
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    $color-link-lines 50%
  );
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  text-shadow: 0.1rem 0 $color-white, 0.15rem 0 $color-white,
    -0.1rem 0 $color-white, -0.15rem 0 $color-white;

  @include hover-focus {
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      $color-link-hover 50%
    );
  }

  @include active {
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      $color-link-active 50%
    );
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
