/*----------------------------------*\
    #LINKS
\*----------------------------------*/

a {
  text-decoration: none;
  color: var(--color-ribbon-blue);
  text-decoration-skip: ink;
  transition: all 200ms cubic-bezier(.165, .84, .44, 1);

  &:--enter {
    text-decoration: underline;
  }

  &:--active {
    outline: 0;
  }

}
