@mixin spacer($prefix, $type, $unit, $value) {
  .u-#{$prefix}-#{$unit} {
    #{$type}: $value;
  }
  .u-#{$prefix}t-#{$unit} {
    #{$type}-top: $value;
  }
  .u-#{$prefix}r-#{$unit} {
    #{$type}-right: $value;
  }
  .u-#{$prefix}b-#{$unit} {
    #{$type}-bottom: $value;
  }
  .u-#{$prefix}l-#{$unit} {
    #{$type}-left: $value;
  }
  .u-#{$prefix}x-#{$unit} {
    #{$type}-left: $value;
    #{$type}-right: $value;
  }
  .u-#{$prefix}y-#{$unit} {
    #{$type}-top: $value;
    #{$type}-bottom: $value;
  }
}

@mixin marginSpacer($unit, $value) {
  @include spacer(m, margin, $unit, $value);
}

@mixin paddingSpacer($unit, $value) {
  @include spacer(p, padding, $unit, $value);
}

.u-m {
  margin: 0;
}
.u-mt {
  margin-top: 0;
}
.u-mr {
  margin-right: 0;
}
.u-mb {
  margin-bottom: 0;
}
.u-ml {
  margin-left: 0;
}
.u-mx {
  margin-left: 0;
  margin-right: 0;
}
.u-my {
  margin-top: 0;
  margin-bottom: 0;
}

.u-p {
  padding: 0;
}
.u-pt {
  padding-top: 0;
}
.u-pr {
  padding-right: 0;
}
.u-pb {
  padding-bottom: 0;
}
.u-pl {
  padding-left: 0;
}
.u-px {
  padding-left: 0;
  padding-right: 0;
}
.u-py {
  padding-top: 0;
  padding-bottom: 0;
}

@each $spacer, $value in $spacerMap {
  @include marginSpacer($spacer, $value);
  @include paddingSpacer($spacer, $value);
}
