/*----------------------------------*\
    #LAYOUT
\*----------------------------------*/

.o-layout {
  lost-flex-container: row;
  width: 100%;
}

@media (--tablet-viewport) {

  .o-layout__item--small {
    lost-column: 8/10;
  }

}

