$layout-offset-small: 4vw;
$layout-offset-medium: 8vw;
$layout-offset-large: 4;
$layout-offset-xlarge: 5;

.o-layout--extended-width {
  margin-left: $layout-offset-small * -1;
  margin-right: $layout-offset-small * -1;

  @include mq(medium) {
    margin-left: $layout-offset-medium * -1;
    margin-right: $layout-offset-medium * -1;
  }

  @include mq(large) {
    margin-left: vr($layout-offset-large * -1);
    margin-right: vr($layout-offset-large * -1);
  }

  @include mq(xlarge) {
    margin-left: vr($layout-offset-xlarge * -1);
    margin-right: vr($layout-offset-xlarge * -1);
  }
}

.o-layout--extended-width-small {
  margin-left: $layout-offset-small * -1;
  margin-right: $layout-offset-small * -1;

  @include mq(medium) {
    margin-left: $layout-offset-medium * -1;
    margin-right: $layout-offset-medium * -1;
  }
  @include mq(large) {
    margin-left: vr($layout-offset-large / 2 * -1);
    margin-right: vr($layout-offset-large / 2 * -1);
  }
}

.o-layout--extended {
  @extend .o-layout--extended-width;
  margin-bottom: vr(1);

  @include mq(medium) {
    margin-bottom: vr(2);
  }

  @include mq(large) {
    margin-bottom: vr(2);
  }
}

.o-layout--inset {
  padding: 0 $layout-offset-small;

  @include mq(medium) {
    padding: 0 $layout-offset-medium;
  }

  @include mq(large) {
    padding: 0 vr($layout-offset-large);
  }

  @include mq(xlarge) {
    padding: 0 vr($layout-offset-xlarge);
  }
}

.o-layout--inset-small {
  padding: 0 $layout-offset-small;

  @include mq(medium) {
    padding: 0 $layout-offset-medium;
  }

  @include mq(large) {
    padding: 0 vr(1);
  }
}

.o-layout--padded {
  padding: vr(1) $layout-offset-small;
  margin-bottom: vr(2);

  @include mq(medium) {
    padding: vr(1) $layout-offset-medium;
    margin-bottom: vr(4);
  }

  @include mq(large) {
    padding: vr(1) 0;
  }
}
