.o-layout {
}

.o-layout--extended-width {
  margin-left: -4vw;
  margin-right: -4vw;

  @include mq(medium) {
    margin-left: -8vw;
    margin-right: -8vw;
  }

  @include mq(large) {
    margin-left: vr(-4);
    margin-right: vr(-4);
  }

  @include mq(xlarge) {
    margin-left: vr(-5);
    margin-right: vr(-5);
  }
}

.o-layout--extended {
  @extend .o-layout--extended-width;
  margin-bottom: vr(1);

  @include mq(medium) {
    margin-bottom: vr(4);
  }

  @include mq(large) {
    margin-bottom: vr(3);
  }
}

.o-layout--inset {
  padding: 0 4vw;

  @include mq(medium) {
    padding: 0 8vw;
  }

  @include mq(large) {
    padding: 0 vr(4);
  }

  @include mq(xlarge) {
    padding: 0 vr(5);
  }
}

.o-layout--padded {
  padding-top: vr(2);
  padding-bottom: vr(2);
  margin-bottom: vr(2);

  @include mq(medium) {
    padding-top: vr(2);
    margin-bottom: vr(4);
  }

  @include mq(large) {
    padding-top: vr(2);
  }
}
