/*----------------------------------*\
    #WRAPPERS
\*----------------------------------*/

.o-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: var(--global-spacing-tiny);
  padding-right: var(--global-spacing-tiny);
}

@media (--tablet-viewport) {

  .o-wrapper {
    padding-left: var(--global-spacing-small);
    padding-right: var(--global-spacing-small);
  }

}

@media (--desktop-viewport) {

  .o-wrapper {
    max-width: 1000px
  }

}
