.o-wrapper {
  background-color: $color-white;
  display: flow-root;
  margin: 0 auto;
  max-width: vr(40);

  @include mq(large) {
    max-width: 95vw;
  }

  @supports (display: flow-root) {
    display: flow-root;
  }

  @supports not (display: flow-root) {
    @include clearfix;
  }
}
