/* purgecss ignore */
.c-post-content {
  ul,
  ol {
    @apply pl-4 mb-4;

    img {
      @apply mt-4;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
  }

  ol {
    list-style-type: decimal;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8;

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      @apply -mt-2;
    }
  }

  a {
    @mixin link var(--colors-gray-500), var(--colors-gray-900);
    @apply font-bold;
  }
}
/* purgecss end ignore */
