h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight font-medium text-headings mb-4 font-display;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-sm;
}

p {
  @apply leading-relaxed mb-4;
}
