/* purgecss start ignore */
.chroma {
  .chroma {
    @apply p-0 mb-0;
  }
}
/* Background */
.chroma {
  @apply overflow-auto rounded text-xs p-4 mb-4 text-body;
}
/* Background */
.chroma {
  @apply bg-grey-lightest;
}
/* Error */
.chroma .err {
  color: var(--colors-body);
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--colors-grey-light);
}
.chroma .lnt,
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--colors-grey-darker);
}

.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kt,
.chroma .nb,
.chroma .bp {
  color: var(--colors-primary);
}

.chroma .kr,
.chroma .na,
.chroma .nc {
  color: var(--colors-quaternary);
}

.chroma .n,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .ne,
.chroma .nf,
.chroma .py,
.chroma .fm,
.chroma .nl,
.chroma .nn,
.chroma .nt,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm,
.chroma .nx {
  color: var(--colors-body);
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: var(--colors-tertiary);
}

.chroma .l,
.chroma .ld,
.chroma .sc,
.chroma .m {
  color: var(--colors-primary);
}
/* LiteralNumberBin */
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: var(--colors-quaternary);
}
/* Operator */
.chroma .o,
.chroma .ow,
.chroma .p {
  color: var(--colors-body);
}
/* Comment */
.chroma .c,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .ch {
  color: var(--colors-grey-darkest);
}

.chroma .cp,
.chroma .cpf {
  color: #633820;
}
/* purgecss end ignore */
