.o-hover-line {
  transition: background-size 0.4s cubic-bezier(0.19, 1, 0.155, 1.01);
  display: inline;
  padding-bottom: 0.18em;
  background: linear-gradient(currentColor, currentColor) no-repeat;
  background-size: 0 0.1em;
  background-position: left 85%;
  text-shadow: 0.15em 0 var(--colors-bg), 0.15em 0 var(--colors-bg),
    -0.15em 0 var(--colors-bg), -0.15em 0 var(--colors-bg);

  &:hover,
  &:focus {
    background-size: 100% 0.1em;
  }
}
