.o-styled-link {
  color: var(--colors-primary);

  &:hover {
    text-decoration: underline;
  }
}

.o-styled-link__inverted {
  color: var(--colors-gray-600);

  &:hover {
    text-decoration: underline;
  }

  &--active {
    color: var(--colors-primary);
    text-decoration: underline;
  }
}
