:root {
  --font-display: 'ui-sans-serif', '-apple-system', 'BlinkMacSystemFont',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI', 'Roboto', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-body: 'ui-serif', 'Georgia', 'Times', 'Times New Roman', 'serif',
    'Apple Color Emoji', 'Segoe UI', 'Roboto', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'ui-monospace', 'SFMono-Regular', 'Consolas', 'Liberation Mono',
    'Menlo', 'Courier', 'monospace';

  --colors-primary: #0040dd;
  --colors-primary-light: color(#0040dd l(90%));
  --colors-primary-lightest: color(#0040dd l(95%));
  --colors-secondary: #fac24f;
  --colors-tertiary: #d70015;
  --colors-quaternary: #a05a00;
  --colors-selection: #0040dd25;
  --colors-active-link: #000;

  --colors-black: #060506;
  --colors-white: #fff;
  --colors-bg: #fff;

  --colors-body: #000;
  --colors-headings: #060506;

  --colors-grey-lightest: #ebebf0;
  --colors-grey-light: #d8d8dc;
  --colors-grey-medium: #bcbcc0;
  --colors-grey-dark: #aeaeb2;
  --colors-grey-darker: #8e8e93;
  --colors-grey-darkest: #6c6c70;
}

.dark {
  --colors-bg: #141414;
  --colors-body: #fafafa;
  --colors-headings: #fff;

  --colors-white: #000;
  --colors-black: #fff;

  --colors-primary: #409cff;
  --colors-primary-light: color(#409cff a(25%));
  --colors-primary-lightest: color(#409cff a(10%));
  --colors-secondary: #ffd426;
  --colors-tertiary: #ff6961;
  --colors-quaternary: #ffd426;
  --colors-selection: #409cff25;
  --colors-active-link: #fff;

  --colors-grey-lightest: #242426;
  --colors-grey-light: #363638;
  --colors-grey-medium: #444446;
  --colors-grey-dark: #545456;
  --colors-grey-darker: #7c7c80;
  --colors-grey-darkest: #aeaeb2;
}
