:root {
  --colors-black: #060506;
  --colors-gray-100: #fbfaf9;
  --colors-gray-200: #eeeeee;
  --colors-gray-300: #f2f1ee;
  --colors-gray-400: #bdbdbd;
  --colors-gray-500: #a3a9b0;
  --colors-gray-600: #8f8f90;
  --colors-gray-700: #616161;
  --colors-gray-800: #424242;
  --colors-gray-900: #212121;
  --colors-highlight-darker: #ffdba5;
  --colors-highlight: #fff4e6;
  --colors-primary: #1f3ab0;
  --colors-secondary: #fac24f;
  --colors-white: #fff;
}
