@define-mixin link $color-default, $color-active,
  $color-text-shadow: var(--colors-white) {
  color: $color-active;
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 1px,
    $color-default 0,
    $color-default 2px,
    hsla(0, 0%, 100%, 0) 0
  );
  text-shadow: $color-text-shadow -1px -1px 0, $color-text-shadow 1px -1px 0,
    $color-text-shadow -1px 1px 0, $color-text-shadow 1px 1px 0;
  @mixin-content;

  &:hover,
  &:focus {
    background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 1px,
      $color-active 0,
      $color-active 2px,
      hsla(0, 0%, 100%, 0) 0
    );
  }
}
