---
import Container from "../components/Container.astro";
import Layout from "../components/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Prose from "../components/Prose.astro";
---

<Layout
  title="About"
  description="Discover the story behind Devin Schulz - a seasoned creative developer with a passion for crafting web and mobile experiences."
>
  <Container>
    <Masthead title="About" />
    <Prose>
      <p>
        For over the past 10 years, I&apos;ve been deeply immersed in the world
        of web development and product design. While I consider myself a
        full-stack developer, my true calling is front-end development where I
        bring digital products to life with meticulous attention to detail and
        functionality.
      </p>
      <p>
        I&apos;m based in Ottawa, Canada, but my work knows no boundaries.
        Whether you're local or halfway across the world, I bring the same level
        of commitment and expertise to the table. My work ethic is defined by a
        detail-oriented and perfectionist streak that never compromises my
        ability to deliver. I thrive in collaborative settings where I can
        mentor others and make informed decisions that define a product&apos;s
        architecture.
      </p>
      <p>
        I'm passionate about creating accessible designs and interfaces,
        ensuring that the products I develop are not only intuitive but
        accessible to everyone. Performance is another obsession of mine&mdash;I
        believe that the best designs not only look good but also work
        seamlessly.
      </p>
      <p>
        Over the years, I've had the privilege of collaborating with notable
        companies such as Shopify, Cape Privacy, InVision, The Ottawa Hospital,
        Algonquin College, CHEO, York University, Paystone, and REALTOR.ca.
        These experiences have not only honed my skills but also reinforced my
        belief in the power of digital solutions to transform and empower
        businesses and organizations.
      </p>
    </Prose>

    <Prose className="mt-12 lg:mt-16">
      <h2
        class="mb-4 lg:mb-12 text-2xl font-semibold tracking-tight leading-none text-gray-900 dark:text-white"
      >
        Expertise
      </h2>
      <div class="lg:flex lg:flex-col lg:gap-8">
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">
            Design
          </h3>
          <p class="lg:my-0">
            I craft engaging and intuitive product designs that seamlessly blend
            form and function. By focusing on the user experience, I ensure that
            every element is thoughtfully placed and contributes to a cohesive
            digital journey. My product designs are not just visually appealing
            but are also strategically engineered to improve usability and drive
            user engagement.
          </p>
        </div>
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">
            Development
          </h3>
          <p class="lg:my-0">
            My development expertise lies in translating design into reality
            with clean, optimized code. I specialize in creating responsive,
            fast-loading, and accessible websites that provide a consistent
            experience across all devices. By employing the latest technologies
            and best practices, I ensure that the back-end is as strong as the
            front, resulting in a robust digital solution that scales with your
            business.
          </p>
        </div>
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">
            Consultation
          </h3>
          <p class="lg:my-0">
            My consultation service is a deep dive into your existing codebase,
            where I meticulously analyze and provide expert advice on
            optimization and best practices. I focus on enhancing code
            efficiency, maintainability, and scalability, offering insights that
            streamline your processes and improve overall performance. Whether
            you're looking to refine functionality, increase speed, or reduce
            complexity, I deliver tailored strategies that transform your
            codebase into a well-oiled machine.
          </p>
        </div>
      </div>
    </Prose>
  </Container>
</Layout>
