---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import Layout from "../components/Layout.astro";
import PostList from "../components/PostList.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<Layout>
  <Container
    className="space-y-16 md:space-y-20 lg:space-y-28 mt-16 md:mt-20 lg:mt-28"
  >
    <section>
      <div>
        <p class="text-gray-900 font-semibold md:text-lg mb-3 dark:text-white">
          Hey! I&apos;m Devin 👋
        </p>
        <h1
          class="mb-6 text-3xl font-semibold tracking-tight leading-tight text-gray-900 md:text-4xl dark:text-white"
        >
          I build simple, thoughtful interfaces
        </h1>
        <p
          class="md:text-lg md:leading-relaxed text-gray-700 dark:text-gray-300"
        >
          I design and build web and mobile apps that are easy to use,
          accessible, and thoughtfully designed. Right now, I’m working on
          front-end at <a class="link" href="https://cape.ai">Cape</a>.
        </p>
      </div>
    </section>
    <section>
      <h2
        class="mb-6 text-2xl font-semibold tracking-tight leading-none text-gray-900 md:text-3xl dark:text-white"
      >
        Writing
      </h2>
      <PostList posts={posts} />
    </section>
  </Container>
</Layout>
