---
import Container from "../components/Container.astro";
import Layout from "../components/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="Privacy">
  <Container>
    <Masthead title="Privacy" />
    <Prose>
      <p>I don’t collect or store any personal data.</p>
      <p>There are no trackers or third-party scripts watching you.</p>
      <p>
        This site uses <a href="https://www.cloudflare.com/en-ca/web-analytics/"
          >Cloudflare Analytics</a
        > to get basic, privacy-focused stats—no cookies, no tracking across sites.
      </p>
    </Prose>
  </Container>
</Layout>
