---
import Container from "../components/Container.astro";
import Layout from "../components/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Prose from "../components/Prose.astro";
---

<Layout
  title="Uses"
  description="Discover my personal and professional toolkit on my 'Uses' page, where I share the essential hardware, software, and resources that fuel my creative and professional endeavors."
>
  <Container>
    <Masthead title="Uses" />
    <Prose>
      <h2>Editor and terminal</h2>
      <ul>
        <li>Editor: WebStorm/Neovim/Xcode</li>
        <li>Theme: Catppuccin Macchiato</li>
        <li>Terminal: WezTerm</li>
        <li>Shell: Fish Shell</li>
        <li>
          Explore my
          <a href="https://github.com/devinschulz/dotfiles">dotfiles</a> for further
          customization of my editor, terminal, and operating system settings.
        </li>
      </ul>
      <h2>Software</h2>
      <ul>
        <li>OmniFocus</li>
        <li>Apple Notes</li>
        <li>Apple Music</li>
        <li>Figma</li>
        <li>Safari</li>
        <li>Cleanshot X</li>
        <li>Pixelmator Pro</li>
        <li>Anybox</li>
      </ul>
      <h2>Workstation</h2>
      <ul>
        <li>16&quot; MacBook Pro (2023)</li>
        <li>Apple Studio Display</li>
        <li>mStand</li>
        <li>Apple Trackpad</li>
        <li>Advantage2 Ergonomic Keyboard</li>
        <li>Herman Miller Embody Chair</li>
        <li>FLEXISPOT E5 Classic Standing Desk</li>
      </ul>
      <h2>Other Tech</h2>
      <ul>
        <li>AirPods Max</li>
        <li>Apple Watch</li>
        <li>Apple iPhone</li>
        <li>Apple iPad</li>
      </ul>
      <h2>Code</h2>
      <h3>Now</h3>
      <p>
        JavaScript, TypeScript, Swift, SwiftUI, Node, fp-ts, React, Svelte,
        WebPack, Apollo, Next.js, Gatsby, Jest, Vitest, Testing Library,
        Cypress, Playwright, PostCSS, Tailwind CSS, Go, MongoDB, MySQL, Postgres
      </p>
      <h3>Previously</h3>
      <p>
        Angular, Gulp, Grunt, jQuery, Flow, TestCafe, Less, Scss/Sass, Stylus,
        PHP, WordPress, Expression Engine, Ruby, Ruby on Rails, Sinatra,
        Middleman, Express, Objective-C
      </p>
      <p><small>Last updated: 2024-10-25</small></p>
    </Prose>
  </Container>
</Layout>
