$base-font-size: 16;
$base-line-height: 24;
$base-ratio: 1.618;

$base-display-ratio: 1.2;

$font-karla: Karla;
$font-hack: Hack;

$font-family-sans-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;
$font-family-sans: $font-karla, $font-family-sans-fallback;

$font-family-monospace-fallback: Inconsolata, Menlo, Consolas, Courier,
  monospace;
$font-family-monospace: $font-hack, $font-family-monospace-fallback;

// Define font stack used for headings
$font-weight-display: bold;

// Define font stack used for paragraphs
$font-family-default-fallback: $font-family-sans-fallback;
$font-family-default: $font-family-sans;

$font-weight-default: 400;
$font-weight-default-bold: bold;

$typi: (
  base: (
    null: (
      16px,
      $base-ratio,
    ),
    medium: 18px,
    xlarge: 20px,
  ),
  code: (
    null: (
      14px,
      $base-ratio,
    ),
  ),
  alert: (
    null: (
      14px,
      $base-ratio,
    ),
    medium: 16px,
  ),
  h1: (
    null: (
      1.77em,
      $base-display-ratio,
    ),
    medium: 2.369em,
    xlarge: 3.157em,
  ),
  h2: (
    null: (
      1.333em,
      $base-display-ratio,
    ),
    medium: 1.777em,
    xlarge: 2.369em,
  ),
  h3: (
    null: (
      1em,
      $base-display-ratio,
    ),
    medium: 1.333em,
    xlarge: 1.777em,
  ),
  h4: (
    null: (
      0.75em,
      $base-display-ratio,
    ),
    medium: 1em,
    xlarge: 1.333em,
  ),
  h5: (
    null: (
      0.563em,
      $base-display-ratio,
    ),
    medium: 0.75em,
    xlarge: 1em,
  ),
  h6: (
    null: (
      0.422em,
      $base-display-ratio,
    ),
    medium: 0.563em,
    xlarge: 0.75em,
  ),
  small: (
    null: (
      0.8em,
      $base-ratio,
    ),
  ),
);

$fonts: (
  'Karla-BoldItalic': (
    family: $font-karla,
    weight: bold,
    style: 'italic',
    local: '#{$font-karla} Bold Italic',
  ),
  'Karla-Bold': (
    family: $font-karla,
    weight: bold,
    style: 'normal',
    local: '#{$font-karla} Bold',
  ),
  'Karla-Italic': (
    family: $font-karla,
    weight: 400,
    style: 'italic',
    local: '#{$font-karla} Italic',
  ),
  'Karla-Regular': (
    family: $font-karla,
    weight: 400,
    style: 'normal',
    local: '#{$font-karla} Regular',
  ),
  'Hack-BoldItalic': (
    family: $font-hack,
    weight: bold,
    style: 'italic',
    local: '#{$font-hack} Bold Italic',
  ),
  'Hack-Bold': (
    family: $font-hack,
    weight: bold,
    style: 'normal',
    local: '#{$font-hack} Bold',
  ),
  'Hack-Italic': (
    family: $font-hack,
    weight: 400,
    style: 'italic',
    local: '#{$font-hack} Italic',
  ),
  'Hack-Regular': (
    family: $font-hack,
    weight: 400,
    style: 'normal',
    local: '#{$font-hack} Regular',
  ),
);
