$base-font-size: 16;
$base-line-height: 24;
$base-ratio: $base-line-height / $base-font-size;

$base-display-ratio: 1.2;

$font-roboto: Roboto;
$font-roboto-mono: 'Roboto Mono';
$font-droid-serif: 'Droid Serif';

$font-family-sans-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif;
$font-family-serif-fallback: Georgia, 'Times New Roman', Times, serif;
$font-family-sans: $font-roboto, $font-family-sans-fallback;
$font-family-monospace: $font-roboto-mono, Inconsolata, Menlo, Consolas, Courier,
  monospace;
$font-family-serif: $font-droid-serif, serif;

$font-family-sans-alt-fallback: $font-family-sans-fallback;
$font-family-sans-alt: $font-roboto, $font-family-sans-alt-fallback;

// Define font stack used for headings
$font-family-display-fallback: $font-family-sans-alt-fallback;
$font-family-display: $font-family-sans-alt;
$font-weight-display: 600;

// Define font stack used for paragraphs
$font-family-default-fallback: $font-family-serif-fallback;
$font-family-default: $font-family-serif;

$font-weight-default: 400;
$font-weight-default-bold: 700;

$typi: (
  base: (
    null: (
      16px,
      $base-ratio,
    ),
    medium: 18px,
    xlarge: 20px,
  ),
  code: (
    null: (
      14px,
      $base-ratio,
    ),
  ),
  alert: (
    null: (
      14px,
      $base-ratio,
    ),
    medium: 16px,
  ),
  h1: (
    null: (
      1.77em,
      $base-display-ratio,
    ),
    medium: 2.369em,
    xlarge: 3.157em,
  ),
  h2: (
    null: (
      1.333em,
      $base-display-ratio,
    ),
    medium: 1.777em,
    xlarge: (
      2.369em,
      1.3,
    ),
  ),
  h3: (
    null: (
      1em,
      $base-display-ratio,
    ),
    medium: 1.333em,
    xlarge: 1.777em,
  ),
  h4: (
    null: (
      0.75em,
      $base-display-ratio,
    ),
    medium: 1em,
    xlarge: 1.333em,
  ),
  h5: (
    null: (
      0.563em,
      $base-display-ratio,
    ),
    medium: 0.75em,
    xlarge: 1em,
  ),
  h6: (
    null: (
      0.422em,
      $base-display-ratio,
    ),
    medium: 0.563em,
    xlarge: 0.75em,
  ),
  small: (
    null: (
      0.75em,
      $base-ratio,
    ),
  ),
);

$fonts: (
  'Roboto-BoldItalic': (
    family: $font-roboto,
    weight: bold,
    style: 'italic',
    local: 'Roboto Bold Italic',
    ext: 'woff'
  ),
  'Roboto-Bold': (
    family: $font-roboto,
    weight: bold,
    style: 'normal',
    local: 'Roboto Bold',
    ext: 'woff'
  ),
  'Roboto-Italic': (
    family: $font-roboto,
    weight: 400,
    style: 'italic',
    local: 'Roboto Italic',
    ext: 'woff'
  ),
  'Roboto-Regular': (
    family: $font-roboto,
    weight: 400,
    style: 'normal',
    local: 'Roboto Regular',
    ext: 'woff'
  ),
  'DroidSerif-BoldItalic': (
    family: $font-droid-serif,
    weight: 700,
    style: 'italic',
    local: 'Droid Serif Bold Italic',
    ext: 'woff'
  ),
  'DroidSerif-Bold': (
    family: $font-droid-serif,
    weight: 700,
    style: 'normal',
    local: 'Droid Serif Bold',
    ext: 'woff'
  ),
  'DroidSerif-Italic': (
    family: $font-droid-serif,
    weight: 400, style: 'italic',
    local: 'Droid Serif Italic',
    ext: 'woff'
  ),
  'DroidSerif-Regular': (
    family: $font-droid-serif,
    weight: 400,
    style: 'normal',
    local: 'Droid Serif Regular',
    ext: 'woff'
  ),
  'RobotoMono-BoldItalic': (
    family: $font-roboto-mono,
    weight: 700,
    style: 'italic',
    local: 'Roboto Mono Bold Italic',
    ext: 'woff'
  ),
  'RobotoMono-Bold': (
    family: $font-roboto-mono,
    weight: 700,
    style: 'normal',
    local: 'Roboto Mono Bold',
    ext: 'woff'
  ),
  'RobotoMono-Italic': (
    family: $font-roboto-mono,
    weight: 400,
    style: 'italic',
    local: 'Roboto Mono Italic',
    ext: 'woff'
  ),
  'RobotoMono-Regular': (
    family: $font-roboto-mono,
    weight: 400,
    style: 'normal',
    local: 'Roboto Mono Regular',
    ext: 'woff'
  ),
);
