$black: #000;
$white: #fff;
$pipi: #fefeca;
$ribbon-blue: #3455db;
$orange-red: #fd193b;
$orange: #f19617;
$orange-darker: #292724;

$base-hue: 216;
$base-shade: 10%;

$color-black: lighten($black, 5%);
$color-white: $white;

$color-headings: hsl($base-hue, $base-shade, 14%);
$color-headings-hover: $ribbon-blue;
$color-text: hsl($base-hue, $base-shade, 20%);
$color-text-light: hsl($base-hue, $base-shade, 40%);
$color-active: $color-headings;

$color-dark-headings: hsl($base-hue, $base-shade, 80%);
$color-dark-headings-hover: hsl($base-hue, 80%, 60%);
$color-dark-text: hsl($base-hue, $base-shade, 75%);
$color-dark-text-light: hsl($base-hue, $base-shade, 60%);
$color-dark-active: $color-dark-headings;

$color-lines: hsl($base-hue, $base-shade, 85%);
$color-background: hsl($base-hue, $base-shade, 99%);
$color-light-background: hsl($base-hue, $base-shade, 97%);
$color-lighter-background: hsl($base-hue, $base-shade, 94%);

$color-dark-lines: hsl($base-hue, $base-shade, 20%);
$color-dark-background: hsl($base-hue, $base-shade, 10%);
$color-dark-light-background: hsl($base-hue, $base-shade, 15%);
$color-dark-lighter-background: hsl($base-hue, $base-shade, 20%);

$color-link: $ribbon-blue;
$color-link-hover: darken($color-link, 15%);
$color-link-active: darken($color-link, 25%);
$color-link-lines: lighten($color-link, 30%);

$color-dark-link: hsl($base-hue, 80%, 60%);
$color-dark-link-hover: lighten($color-dark-link, 15%);
$color-dark-link-active: $color-dark-link;
$color-dark-link-lines: darken($color-dark-link, 15%);

$color-link-alt: $color-text-light;
$color-link-alt-hover: darken($color-link-alt, 15%);
$color-link-alt-active: darken($color-link-alt, 25%);

$color-dark-link-alt: $color-dark-text-light;
$color-dark-link-alt-hover: lighten($color-dark-link-alt, 15%);
$color-dark-link-alt-active: lighten($color-dark-link-alt, 25%);

$color-selection: $pipi;

$color-input-placeholder: $color-text-light;
$color-input-background: $color-light-background;
$color-input-border: $color-lines;
$color-input-border-active: darken($color-input-background, 10%);
$color-input-error: $orange-red;

$color-input-radio-background: $color-light-background;
$color-input-radio-background-active: $color-link;

$color-callout-background: $pipi;

$color-btn-primary-text: $white;
$color-btn-primary-background: $color-link;
$color-btn-primary-background-hover: $color-link-hover;
$color-btn-primary-background-active: $color-link-active;

$color-toggle: $color-white;
$color-toggle-inverse: $color-text-light;
$color-dark-toggle: $color-dark-headings;
$color-dark-toggle-inverse: $color-dark-background;

$color-notice-background: rgba($orange, 0.05);
$color-notice-warning: $orange;
$color-notice-text: $orange-darker;
$color-dark-notice-background: rgba($orange, 0.15);
$color-dark-notice-text: lighten($orange, 25%);
