{{ define "main" }}
  <article class="o-container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ partial "masthead.html" . }}
    <div itemprop="articleBody" class="u-mb-xl">
      {{ .Content }}
    </div>
    <div class="u-my-l">
      <h4>Enjoyed this post? Share it with your friends!</h4>
      {{ partial "share.html" . }}
    </div>
    {{ if .Site.Params.commentsEnabled }}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        if(typeof DISQUS === "undefined"){
          var disqus_shortname = '{{ .Site.DisqusShortname }}';

          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = "//" + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        } else {
          DISQUS.reset({
            reload: true,
            config: function () {
              this.page.identifier = document.title;
              this.page.url = location.href;
            }
          });
        }
      </script>
    {{ else }}
      <p>Comments closed.</p>
    {{ end }}
  </article>
{{ end }}
