{{ define "main" }}
  <article class="c-article o-container" itemscope itemtype="http://schema.org/BlogPosting">
    <span class="u-hidden">
      {{ with .Site.Author.name }}
        <meta itemprop="author" content="{{ . }}">
        <span itemprop="publisher" itemscope itemtype="https://schema.org/Person">
          <meta itemprop="name" content="{{ . }}">
        </span>
      {{ end }}
      <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}">
    </span>
    {{ partial "masthead.html" . }}
    <div itemprop="articleBody" class="c-article__content u-mb-l">
      {{- .Content -}}
    </div>
    <div class="c-article__share u-my-l">
      <h2 class="c-article__share-title h4">Enjoyed this post? Share it with the world!</h2>
      {{ partial "share.html" . }}
    </div>
    {{ if .Site.Params.commentsEnabled }}
      {{ template "_internal/disqus.html" . }}
    {{ else }}
      <p>Comments closed.</p>
    {{ end }}
  </article>
{{ end }}

