.c-next-prev {
  display: none;
  opacity: 0;
  bottom: 0;

  @include mq(medium) {
    display: block;
    position: fixed;
  }

  svg {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, $m * -1);
    transition: all 0.2s $ease;
  }

  @include hover-focus {
    svg {
      transform: translate(-50%, $s * -1);
      opacity: 1;
    }
  }
}

.c-next-prev--next {
  animation: fadeInUpNext 0.3s ease-in 1s forwards;
  right: $s;
  transform-origin: top right;
}

.c-next-prev--prev {
  animation: fadeInUpPrev 0.3s ease-in 1s forwards;
  left: $s;
  transform-origin: top left;
}

@keyframes fadeInUpNext {
  0% {
    opacity: 0;
    transform: translate($m, -50%) rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%) rotate(90deg);
  }
}

@keyframes fadeInUpPrev {
  0% {
    opacity: 0;
    transform: translate($m * -1, -50%) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%) rotate(-90deg);
  }
}
