.c-tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.c-tags__item {
  margin: 0 $xxs $xxs 0;
}

.c-tag {
  background-color: lighten($color-link, 45%);
  border-radius: $l;
  padding: 0.2em $xs;
  text-decoration: none;

  @include hover-focus-active {
    background-color: $color-link;
    color: $color-white;
  }

  .theme-dark & {
    background-color: $color-dark-light-background;

    @include hover-focus-active {
      background-color: $color-link;
      color: $color-white;
    }
  }
}
