.c-main-nav {
  @include mq(medium) {
    margin-top: $m;
    margin-bottom: $l;
  }
}

.c-main-nav__wrapper {
  display: flex;
  align-items: center;
}

.c-main-nav__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.c-main-nav__logo {
  color: inherit;
  font-size: 1.2rem;
  font-weight: $font-weight-default-bold;
  background-image: none !important;

  .theme-dark & {
    color: $color-dark-text-light;
  }
}

.c-main-nav__links {
  @include typi('small');
  margin-left: auto;
  font-family: $font-family-sans;
  margin-right: $xs;

  @include mq(medium) {
    margin-right: $m;
  }

  a + a {
    margin-left: $xs;

    @include mq(medium) {
      margin-left: $m;
    }
  }
}

.c-main-nav__link {
  background-image: none;
  color: inherit;
}

.c-main-nav__link--active {
  color: $color-active !important;
  font-weight: $font-weight-default-bold;

  .theme-dark & {
    color: $color-dark-active !important;
  }
}
