.c-repeat {
  & + & {
    margin-top: $l;

    @include mq(medium) {
      margin-top: $m;
    }
  }
}

.c-repeat__meta {
  color: $color-text-light;
  margin-bottom: $xxs;

  @include mq(medium) {
    margin-bottom: 0;
  }

  + .c-repeat__title {
    margin-top: $xxs;
  }

  .theme-dark & {
    color: $color-dark-text-light;
  }
}

.c-repeat__image {
  display: block;
  margin-bottom: $m;

  @include mq(medium) {
    margin-bottom: 0;
  }

  img {
    border-radius: $global-radius;
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

.c-repeat__title {
  margin-bottom: 0;
}

.c-repeat__main {
  @include mq(medium) {
    display: flex;
    align-items: center;
  }
}
