{{ define "main" }}
  <section class="o-container">
    <header class="c-masthead u-mb-l"></header>
    <div class="o-grid o-grid--swapped">
      <div class="o-grid__item">{{ .Content }}</div>
      <div class="o-grid__item">
        <p class="u-mb"><strong>A few clients I've worked with:</strong></p>
        <ul>
          <li>Algonquin College</li>
          <li>Bullfrog Power</li>
          <li><abbr title="Children's Hospital of Eastern Ontario">CHEO</abbr></li>
          <li>REALTOR</li>
          <li>Shopify</li>
          <li>The Ottawa Hospital</li>
          <li>York University</li>
          <li>Zomaron</li>
          <li>+ more</li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
