{{ define "main" }}
  <section class="o-container">
    <header class="c-masthead o-layout--extended o-layout--inset">
      <h1 class="c-masthead__title">Hello there.</h1>
      <picture class="c-masthead__pic">
        <source
          media="(max-width: 740px)"
          srcset="/images/about/portrait-small.png 1x, /images/about/portrait-small@2x.png 2x"
        />
        <source
          media="(min-width: 740px)"
          srcset="/images/about/portrait.png 1x, /images/about/portrait@2x.png 2x"
        />
        <img
          src="/images/about/portrait.png"
          alt="A portrait of me, standing with my arms crossed"
        />
      </picture>
      <svg class="c-masthead__shape">
        <path
          d="M.794 0l406.793 268.587L30 486.587z"
          fill="#EDEDED"
          fill-rule="evenodd"
        />
      </svg>
    </header>
    {{- .Content -}}
  </section>
{{ end }}
