{{ define "main" }}
  <section class="container">
    {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $img }}
      {{ $mobile := .Resize "300x"}}
      {{ $mobileRetina := .Resize "600x" }}
      {{ $tablet := .Resize "750x"}}
      {{ $tabletRetina := .Resize "1500x" }}
      {{ $desktop := .Resize "615x"}}
      {{ $desktopRetina := .Resize "1230x" }}
      <picture class="mb-8 lg:mb-12 w-full h-auto block" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <source media="(max-width: 46.25em)" srcset="{{ $mobile.RelPermalink }}, {{ $mobileRetina.RelPermalink }} 2x" />
        <source media="(max-width: 61.25em)" srcset="{{ $tablet.RelPermalink }}, {{ $tabletRetina.RelPermalink }} 2x" />
        <source srcset="{{ $desktop.RelPermalink }}, {{ $desktopRetina.RelPermalink }} 2x" />
        <img class="w-full block rounded" src="{{ $desktop.RelPermalink }}" itemprop="contentUrl url" alt="{{ $.Params.imageAltText }}" />
      </picture>
    {{ end }}
    <div class="md:flex lg:-mx-2 xl:-mx-4">
      <div class="w-full md:w-1/2 md:px-2 xl:px-4 about-content">{{ .Content }}</div>
      <div class="w-full md:w-1/2 md:px-2 xl:px-4 about-companies">
        <h3 class="mb-2 text-base leading-normal"><strong>A few amazing companies I've worked with:</strong></h3>
        <ul class="list-reset">
          <li>Algonquin College</li>
          <li>Bullfrog Power</li>
          <li><abbr title="Children's Hospital of Eastern Ontario">CHEO</abbr></li>
          <li>REALTOR</li>
          <li>Shopify</li>
          <li>The Ottawa Hospital</li>
          <li>York University</li>
          <li>Zomaron</li>
          <li>+ more</li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
