@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: Karla;
  font-style: "italic";
  font-weight: bold;
  src: local("Karla Bold Italic"), local("Karla-BoldItalic"), url("../fonts/Karla-BoldItalic.woff2") format("woff2"), url("../fonts/Karla-BoldItalic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Karla;
  font-style: "normal";
  font-weight: bold;
  src: local("Karla Bold"), local("Karla-Bold"), url("../fonts/Karla-Bold.woff2") format("woff2"), url("../fonts/Karla-Bold.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Karla;
  font-style: "italic";
  font-weight: 400;
  src: local("Karla Italic"), local("Karla-Italic"), url("../fonts/Karla-Italic.woff2") format("woff2"), url("../fonts/Karla-Italic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Karla;
  font-style: "normal";
  font-weight: 400;
  src: local("Karla Regular"), local("Karla-Regular"), url("../fonts/Karla-Regular.woff2") format("woff2"), url("../fonts/Karla-Regular.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Hack;
  font-style: "italic";
  font-weight: bold;
  src: local("Hack Bold Italic"), local("Hack-BoldItalic"), url("../fonts/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack-BoldItalic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Hack;
  font-style: "normal";
  font-weight: bold;
  src: local("Hack Bold"), local("Hack-Bold"), url("../fonts/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack-Bold.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Hack;
  font-style: "italic";
  font-weight: 400;
  src: local("Hack Italic"), local("Hack-Italic"), url("../fonts/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack-Italic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Hack;
  font-style: "normal";
  font-weight: 400;
  src: local("Hack Regular"), local("Hack-Regular"), url("../fonts/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack-Regular.woff") format("woff"); }

/*----------------------------------*\
    #BOX-SIZING
\*----------------------------------*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  text-align: left; }

[tabindex='-1']:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-bottom: 1.5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  -webkit-font-feature-settings: 'kern', 'onum', 'liga';
          font-feature-settings: 'kern', 'onum', 'liga'; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1.5rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }
  ol ol + p,
  ul ul + p,
  ol ul + p,
  ul ol + p {
    margin-top: 1.5rem; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1.5rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.8rem;
  line-height: 1.5; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

a {
  color: #3455db;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover, a:focus {
    color: #1d38a5; }
  a:active {
    color: #16297a; }
  .theme-dark a {
    color: #4789eb; }
    .theme-dark a:hover, .theme-dark a:focus {
      color: #8cb5f2; }
    .theme-dark a:active {
      color: #4789eb; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: Hack, Inconsolata, Menlo, Consolas, Courier, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1.5rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1.5rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type='radio'],
input[type='checkbox'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block; }

.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc; }

.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em; }

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em; }

.chroma .se,
.chroma .si {
  font-weight: bold;
  font-style: italic; }

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .sh,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss,
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .ge {
  font-style: italic; }

.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kr,
.chroma .ni,
.chroma .ne,
.chroma .nn,
.chroma .nt,
.chroma .ow,
.chroma .gh,
.chroma .gp,
.chroma .gs,
.chroma .gu {
  font-weight: bold; }

html {
  font-size: 100%;
  line-height: 1.5; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #233043; }
  .fonts-loaded body {
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  .theme-dark body {
    background-color: #121821;
    color: #abbbd3; }

::-moz-selection {
  background-color: #fefeca;
  color: inherit;
  text-shadow: none; }

::selection {
  background-color: #fefeca;
  color: inherit;
  text-shadow: none; }

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  color: #19212f;
  -webkit-font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
          font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  letter-spacing: -0.035em;
  margin-bottom: 1.5rem;
  margin-top: 3rem; }
  .theme-dark h1,
  .theme-dark .h1, .theme-dark h2,
  .theme-dark .h2, .theme-dark h3,
  .theme-dark .h3, .theme-dark h4,
  .theme-dark .h4, .theme-dark h5,
  .theme-dark .h5, .theme-dark h6,
  .theme-dark .h6 {
    color: #bcc9dc; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    color: inherit;
    text-decoration: none; }
    .theme-dark h1 a, .theme-dark .h1 a, .theme-dark h2 a, .theme-dark .h2 a, .theme-dark h3 a, .theme-dark .h3 a, .theme-dark h4 a, .theme-dark .h4 a, .theme-dark h5 a, .theme-dark .h5 a, .theme-dark h6 a, .theme-dark .h6 a {
      color: #bcc9dc; }
    h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover, h1 a:focus, .h1 a:focus, h2 a:focus, .h2 a:focus, h3 a:focus, .h3 a:focus, h4 a:focus, .h4 a:focus, h5 a:focus, .h5 a:focus, h6 a:focus, .h6 a:focus {
      color: #3455db; }
      .theme-dark h1 a:hover, .theme-dark .h1 a:hover, .theme-dark h2 a:hover, .theme-dark .h2 a:hover, .theme-dark h3 a:hover, .theme-dark .h3 a:hover, .theme-dark h4 a:hover, .theme-dark .h4 a:hover, .theme-dark h5 a:hover, .theme-dark .h5 a:hover, .theme-dark h6 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:focus, .theme-dark .h1 a:focus, .theme-dark h2 a:focus, .theme-dark .h2 a:focus, .theme-dark h3 a:focus, .theme-dark .h3 a:focus, .theme-dark h4 a:focus, .theme-dark .h4 a:focus, .theme-dark h5 a:focus, .theme-dark .h5 a:focus, .theme-dark h6 a:focus, .theme-dark .h6 a:focus {
        color: #4789eb; }

h1,
.h1 {
  font-size: 1.77rem;
  line-height: 1.2; }

h2,
.h2 {
  font-size: 1.333rem;
  line-height: 1.2; }

h3,
.h3 {
  font-size: 1rem;
  line-height: 1.2; }

h4,
.h4 {
  font-size: 0.75rem;
  line-height: 1.2; }

h5,
.h5 {
  font-size: 0.563rem;
  line-height: 1.2; }

h6,
.h6 {
  font-size: 0.422rem;
  line-height: 1.2; }

/*----------------------------------*\
    #LINKS
\*----------------------------------*/
a {
  -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
  -webkit-text-decoration-color: #b6c2f2;
          text-decoration-color: #b6c2f2; }
  .theme-dark a {
    -webkit-text-decoration-color: #1760cf;
            text-decoration-color: #1760cf; }
  a:hover, a:focus {
    color: #1d38a5;
    -webkit-text-decoration-color: currentColor;
            text-decoration-color: currentColor; }
    .theme-dark a:hover, .theme-dark a:focus {
      color: #8cb5f2; }
  a:active {
    color: #16297a; }
    .theme-dark a:active {
      color: #4789eb; }
  a.is-disabled {
    pointer-events: none;
    opacity: 0.5; }

main {
  margin-bottom: 1.5rem; }

pre {
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #f5f7fa;
  overflow-x: auto;
  display: block; }
  .theme-dark pre {
    background-color: #1a2432; }
  pre > code {
    color: inherit;
    padding: 1.5rem 0;
    display: inline-block;
    border: 0; }
    .theme-dark pre > code {
      color: inherit; }

code {
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #f5f7fa;
  padding: 0.1875rem 0.375rem;
  color: #3455db; }
  .theme-dark code {
    background-color: #1a2432;
    color: #4789eb; }

blockquote {
  font-style: italic;
  border-left: 5px solid #cdd6e5;
  padding-left: 1.5rem; }

figcaption {
  color: #466086;
  margin-top: 0.75rem; }
  .theme-dark figcaption {
    color: #7993b9; }

img {
  max-width: 100%;
  height: auto; }

.u-small-text, figcaption {
  font-size: 0.8rem;
  line-height: 1.5; }

/*----------------------------------*\
    #VISUALLY HIDDEN
\*----------------------------------*/
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 *
 * Original code from:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.u-inline-list {
  list-style: none;
  padding-left: 0; }
  .u-inline-list > li {
    display: inline-block; }

.u-comma-list {
  list-style: none;
  padding-left: 0; }
  .u-comma-list > li {
    display: inline; }
    .u-comma-list > li:after {
      content: ', '; }
    .u-comma-list > li:last-child:after {
      content: ''; }

.u-text-center {
  text-align: center; }

.u-inline-dl dt {
  float: left;
  font-weight: bold;
  margin-right: 0.375rem; }

.u-inline-dl dd {
  margin-bottom: 0; }

.u-font-sans, figcaption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  .fonts-loaded .u-font-sans, .fonts-loaded figcaption {
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.u-font-mono {
  font-family: monospace; }
  .fonts-loaded .u-font-mono {
    font-family: Hack, Inconsolata, Menlo, Consolas, Courier, monospace; }

.u-m {
  margin: 0; }

.u-mt {
  margin-top: 0; }

.u-mr {
  margin-right: 0; }

.u-mb {
  margin-bottom: 0; }

.u-ml {
  margin-left: 0; }

.u-mx {
  margin-left: 0;
  margin-right: 0; }

.u-my {
  margin-top: 0;
  margin-bottom: 0; }

.u-p {
  padding: 0; }

.u-pt {
  padding-top: 0; }

.u-pr {
  padding-right: 0; }

.u-pb {
  padding-bottom: 0; }

.u-pl {
  padding-left: 0; }

.u-px {
  padding-left: 0;
  padding-right: 0; }

.u-py {
  padding-top: 0;
  padding-bottom: 0; }

.u-m-xxs {
  margin: 0.375rem; }

.u-mt-xxs {
  margin-top: 0.375rem; }

.u-mr-xxs {
  margin-right: 0.375rem; }

.u-mb-xxs {
  margin-bottom: 0.375rem; }

.u-ml-xxs {
  margin-left: 0.375rem; }

.u-mx-xxs {
  margin-left: 0.375rem;
  margin-right: 0.375rem; }

.u-my-xxs {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem; }

.u-p-xxs {
  padding: 0.375rem; }

.u-pt-xxs {
  padding-top: 0.375rem; }

.u-pr-xxs {
  padding-right: 0.375rem; }

.u-pb-xxs {
  padding-bottom: 0.375rem; }

.u-pl-xxs {
  padding-left: 0.375rem; }

.u-px-xxs {
  padding-left: 0.375rem;
  padding-right: 0.375rem; }

.u-py-xxs {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }

.u-m-xs {
  margin: 0.375rem; }

.u-mt-xs {
  margin-top: 0.75rem; }

.u-mr-xs {
  margin-right: 0.75rem; }

.u-mb-xs {
  margin-bottom: 0.75rem; }

.u-ml-xs {
  margin-left: 0.75rem; }

.u-mx-xs {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.u-my-xs {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.u-p-xs {
  padding: 0.375rem; }

.u-pt-xs {
  padding-top: 0.75rem; }

.u-pr-xs {
  padding-right: 0.75rem; }

.u-pb-xs {
  padding-bottom: 0.75rem; }

.u-pl-xs {
  padding-left: 0.75rem; }

.u-px-xs {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.u-py-xs {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.u-m-s {
  margin: 0.375rem; }

.u-mt-s {
  margin-top: 1.125rem; }

.u-mr-s {
  margin-right: 1.125rem; }

.u-mb-s {
  margin-bottom: 1.125rem; }

.u-ml-s {
  margin-left: 1.125rem; }

.u-mx-s {
  margin-left: 1.125rem;
  margin-right: 1.125rem; }

.u-my-s {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }

.u-p-s {
  padding: 0.375rem; }

.u-pt-s {
  padding-top: 1.125rem; }

.u-pr-s {
  padding-right: 1.125rem; }

.u-pb-s {
  padding-bottom: 1.125rem; }

.u-pl-s {
  padding-left: 1.125rem; }

.u-px-s {
  padding-left: 1.125rem;
  padding-right: 1.125rem; }

.u-py-s {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem; }

.u-m-m {
  margin: 0.375rem; }

.u-mt-m {
  margin-top: 1.5rem; }

.u-mr-m {
  margin-right: 1.5rem; }

.u-mb-m {
  margin-bottom: 1.5rem; }

.u-ml-m {
  margin-left: 1.5rem; }

.u-mx-m {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.u-my-m {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.u-p-m {
  padding: 0.375rem; }

.u-pt-m {
  padding-top: 1.5rem; }

.u-pr-m {
  padding-right: 1.5rem; }

.u-pb-m {
  padding-bottom: 1.5rem; }

.u-pl-m {
  padding-left: 1.5rem; }

.u-px-m {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.u-py-m {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.u-m-l {
  margin: 0.375rem; }

.u-mt-l {
  margin-top: 3rem; }

.u-mr-l {
  margin-right: 3rem; }

.u-mb-l {
  margin-bottom: 3rem; }

.u-ml-l {
  margin-left: 3rem; }

.u-mx-l {
  margin-left: 3rem;
  margin-right: 3rem; }

.u-my-l {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.u-p-l {
  padding: 0.375rem; }

.u-pt-l {
  padding-top: 3rem; }

.u-pr-l {
  padding-right: 3rem; }

.u-pb-l {
  padding-bottom: 3rem; }

.u-pl-l {
  padding-left: 3rem; }

.u-px-l {
  padding-left: 3rem;
  padding-right: 3rem; }

.u-py-l {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.u-m-xl {
  margin: 0.375rem; }

.u-mt-xl {
  margin-top: 4.5rem; }

.u-mr-xl {
  margin-right: 4.5rem; }

.u-mb-xl {
  margin-bottom: 4.5rem; }

.u-ml-xl {
  margin-left: 4.5rem; }

.u-mx-xl {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.u-my-xl {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.u-p-xl {
  padding: 0.375rem; }

.u-pt-xl {
  padding-top: 4.5rem; }

.u-pr-xl {
  padding-right: 4.5rem; }

.u-pb-xl {
  padding-bottom: 4.5rem; }

.u-pl-xl {
  padding-left: 4.5rem; }

.u-px-xl {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.u-py-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.u-m-xxl {
  margin: 0.375rem; }

.u-mt-xxl {
  margin-top: 6rem; }

.u-mr-xxl {
  margin-right: 6rem; }

.u-mb-xxl {
  margin-bottom: 6rem; }

.u-ml-xxl {
  margin-left: 6rem; }

.u-mx-xxl {
  margin-left: 6rem;
  margin-right: 6rem; }

.u-my-xxl {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.u-p-xxl {
  padding: 0.375rem; }

.u-pt-xxl {
  padding-top: 6rem; }

.u-pr-xxl {
  padding-right: 6rem; }

.u-pb-xxl {
  padding-bottom: 6rem; }

.u-pl-xxl {
  padding-left: 6rem; }

.u-px-xxl {
  padding-left: 6rem;
  padding-right: 6rem; }

.u-py-xxl {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.u-hidden {
  display: none !important; }

.o-container {
  margin: 0 auto;
  padding: 0 4vw; }

.o-layout--extended-width, .o-layout--extended {
  margin-left: -4vw;
  margin-right: -4vw; }

.o-layout--extended-width-small, pre {
  margin-left: -4vw;
  margin-right: -4vw; }

.o-layout--extended {
  margin-bottom: 1.5rem; }

.o-layout--inset {
  padding: 0 4vw; }

.o-layout--inset-small, pre {
  padding: 0 4vw; }

.o-layout--padded {
  padding: 1.5rem 4vw;
  margin-bottom: 1.5rem; }

.c-article__link {
  color: #466086; }
  .c-article__link:hover {
    color: #3455db; }

.c-article__content p:first-of-type:first-letter {
  color: #19212f;
  display: block;
  float: left;
  font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2.925rem;
  line-height: 1;
  margin-bottom: -2px;
  padding-right: 0.1875rem;
  padding-top: 3px;
  font-weight: bold; }
  .theme-dark .c-article__content p:first-of-type:first-letter {
    color: #bcc9dc; }

.c-article__content .c-icon--link {
  color: #3455db;
  opacity: 0.5;
  margin-left: 0.25em;
  width: 0.75em;
  height: 0.75em;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .c-article__content .c-icon--link:hover, .c-article__content .c-icon--link:focus {
    opacity: 1; }
  .theme-dark .c-article__content .c-icon--link {
    opacity: 1; }

.c-article__content h1,
.c-article__content h2,
.c-article__content h3,
.c-article__content hr,
.c-article__content h5,
.c-article__content h6 {
  position: relative; }

.c-article__content img {
  border: 1px solid #cdd6e5;
  margin: 1.5rem 0; }
  .theme-dark .c-article__content img {
    border-color: #233043; }

.c-article__content li:last-child img:last-child {
  margin-bottom: 0; }

.c-categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0; }
  .c-categories li:after {
    content: '•';
    opacity: 0.5;
    margin: 0 0.375rem;
    display: inline-block; }
  .c-categories li:last-child:after {
    content: ''; }

.c-footer {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  color: #466086; }
  .theme-dark .c-footer {
    color: #7993b9; }

.c-footer__list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.c-footer__list {
  list-style: none;
  padding-left: 0;
  line-height: 2;
  margin-bottom: 0; }

.c-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.c-footer__link--active {
  font-weight: bold; }

.c-masthead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f7fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10.5rem;
  position: relative; }
  .theme-dark .c-masthead {
    background-color: #1a2432; }

.c-masthead__pic {
  bottom: 0;
  position: absolute;
  right: 4vw;
  z-index: 2; }
  .c-masthead__pic img {
    float: right;
    height: auto;
    width: 140px; }

.c-masthead__shape {
  height: auto;
  position: absolute;
  right: 0;
  top: -0.75rem;
  max-width: 7.5rem;
  z-index: 1; }
  .c-masthead__shape path {
    fill: #ebeff4; }
    .theme-dark .c-masthead__shape path {
      fill: #233043; }

.c-masthead__hr {
  width: 4.5rem;
  border-bottom: 1px solid #cdd6e5;
  margin: 0 auto; }
  .theme-dark .c-masthead__hr {
    border-color: #233043; }

.c-masthead__image {
  display: block;
  margin: 1.5rem -4vw 0; }
  .c-masthead__image img {
    width: 100%;
    height: auto; }

.c-main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-main-nav__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.c-main-nav__logo {
  color: inherit;
  font-weight: bold;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff; }
  @supports not ((-webkit-text-decoration-color: #fff) or (text-decoration-color: #fff)) {
    .c-main-nav__logo {
      text-decoration: none; }
      .c-main-nav__logo:hover, .c-main-nav__logo:focus, .c-main-nav__logo:active {
        text-decoration: underline; } }
  .theme-dark .c-main-nav__logo {
    color: #7993b9;
    -webkit-text-decoration-color: #121821;
            text-decoration-color: #121821; }
    .theme-dark .c-main-nav__logo:hover, .theme-dark .c-main-nav__logo:focus {
      color: #abbbd3;
      -webkit-text-decoration-color: currentColor;
              text-decoration-color: currentColor; }
    .theme-dark .c-main-nav__logo:active {
      color: #cdd6e5; }

.c-main-nav__links {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-left: auto;
  font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-main-nav__links a + a {
    margin-left: 0.75rem; }

.c-main-nav__link span {
  display: block; }

.c-main-nav__link--active {
  color: #19212f !important;
  font-weight: bold; }
  .theme-dark .c-main-nav__link--active {
    color: #bcc9dc !important; }

.c-skip {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0.375rem 0.75rem; }
  .c-skip:focus {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.c-repeat + .c-repeat {
  margin-top: 3rem; }

.c-repeat__meta {
  color: #466086;
  margin-bottom: 0.375rem; }
  .c-repeat__meta + .c-repeat__title {
    margin-top: 0.375rem; }
  .theme-dark .c-repeat__meta {
    color: #7993b9; }

.c-repeat__image {
  display: block;
  margin-left: -4vw;
  margin-right: -4vw; }
  .c-repeat__image img {
    max-width: 100%;
    height: auto;
    width: 100%; }

.c-repeat__summary,
.c-repeat__title {
  margin-bottom: 1.125rem; }

.c-share__item + .c-share__item {
  margin-left: 1.125rem; }

.c-meta {
  color: #466086; }
  .theme-dark .c-meta {
    color: #7993b9; }

.c-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0; }
  .c-toggle:hover .c-toggle__item:first-child {
    -webkit-transform: translateX(0.525rem);
            transform: translateX(0.525rem); }
  .c-toggle:hover .c-toggle__item:last-child {
    -webkit-transform: translateX(-0.525rem);
            transform: translateX(-0.525rem); }

.c-toggle__item {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .c-toggle__item:first-child {
    background-color: #fff;
    border: 1px solid #466086;
    z-index: 5; }
    .theme-dark .c-toggle__item:first-child {
      background-color: #bcc9dc;
      border-color: #121821;
      -webkit-transform: translateX(0.525rem);
              transform: translateX(0.525rem); }
  .c-toggle__item:last-child {
    background-color: #466086;
    border: 1px solid #fff;
    margin-left: -0.375rem; }
    .theme-dark .c-toggle__item:last-child {
      background-color: #121821;
      border-color: #bcc9dc;
      -webkit-transform: translateX(-0.525rem);
              transform: translateX(-0.525rem); }

.c-notice {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(241, 150, 23, 0.05);
  border-radius: 0.25rem;
  color: #292724;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .theme-dark .c-notice {
    background-color: rgba(241, 150, 23, 0.15);
    color: #f8cc8f; }

.c-notice__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f19617;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-notice__icon .c-icon {
    height: auto;
    width: 1.5rem; }

.c-next-prev {
  display: none;
  opacity: 0;
  top: 50%; }
  .c-next-prev svg {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, -1.5rem);
            transform: translate(-50%, -1.5rem);
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .c-next-prev:hover svg, .c-next-prev:focus svg {
    -webkit-transform: translate(-50%, -1.125rem);
            transform: translate(-50%, -1.125rem);
    opacity: 1; }

.c-next-prev--next {
  -webkit-animation: fadeInUpNext 0.3s ease-in 1s forwards;
          animation: fadeInUpNext 0.3s ease-in 1s forwards;
  right: 1.125rem;
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.c-next-prev--prev {
  -webkit-animation: fadeInUpPrev 0.3s ease-in 1s forwards;
          animation: fadeInUpPrev 0.3s ease-in 1s forwards;
  left: 1.125rem;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

@-webkit-keyframes fadeInUpNext {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.5rem, -50%) rotate(90deg);
            transform: translate(1.5rem, -50%) rotate(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) rotate(90deg);
            transform: translate(0, -50%) rotate(90deg); } }

@keyframes fadeInUpNext {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.5rem, -50%) rotate(90deg);
            transform: translate(1.5rem, -50%) rotate(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) rotate(90deg);
            transform: translate(0, -50%) rotate(90deg); } }

@-webkit-keyframes fadeInUpPrev {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1.5rem, -50%) rotate(-90deg);
            transform: translate(-1.5rem, -50%) rotate(-90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) rotate(-90deg);
            transform: translate(0, -50%) rotate(-90deg); } }

@keyframes fadeInUpPrev {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1.5rem, -50%) rotate(-90deg);
            transform: translate(-1.5rem, -50%) rotate(-90deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) rotate(-90deg);
            transform: translate(0, -50%) rotate(-90deg); } }

/*----------------------------------*\
    #TRUMPS LINKS
\*----------------------------------*/
.t-inverted-link {
  color: #466086;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff; }
  @supports not ((-webkit-text-decoration-color: #fff) or (text-decoration-color: #fff)) {
    .t-inverted-link {
      text-decoration: none; }
      .t-inverted-link:hover, .t-inverted-link:focus, .t-inverted-link:active {
        text-decoration: underline; } }
  .t-inverted-link:hover, .t-inverted-link:focus {
    color: #1d38a5; }
  .t-inverted-link:active {
    color: #16297a; }
  .theme-dark .t-inverted-link {
    color: #7993b9;
    -webkit-text-decoration-color: #121821;
            text-decoration-color: #121821; }
    .theme-dark .t-inverted-link:hover, .theme-dark .t-inverted-link:focus {
      color: #abbbd3;
      -webkit-text-decoration-color: currentColor;
              text-decoration-color: currentColor; }
    .theme-dark .t-inverted-link:active {
      color: #cdd6e5; }

.t-inverted-link--active {
  color: #1a2432; }
  .theme-dark .t-inverted-link--active {
    color: #cdd6e5; }

.t-no-bullet li::before {
  content: '';
  display: none !important; }

@media all and (min-width: 740px) {
    html {
      font-size: 112.5%; }
    h1,
    .h1 {
      font-size: 2.369rem; }
    h2,
    .h2 {
      font-size: 1.777rem; }
    h3,
    .h3 {
      font-size: 1.333rem; }
    h4,
    .h4 {
      font-size: 1rem; }
    h5,
    .h5 {
      font-size: 0.75rem; }
    h6,
    .h6 {
      font-size: 0.563rem; } }

@media (min-width: 46.25em) {
    main {
      margin-bottom: 3rem; }
      pre > code {
        padding: 1.5rem 0; }
    .o-container {
      padding: 0 8vw; }
    .o-layout--extended-width, .o-layout--extended {
      margin-left: -8vw;
      margin-right: -8vw; }
    .o-layout--extended-width-small, pre {
      margin-left: -8vw;
      margin-right: -8vw; }
    .o-layout--extended {
      margin-bottom: 3rem; }
    .o-layout--inset {
      padding: 0 8vw; }
    .o-layout--inset-small, pre {
      padding: 0 8vw; }
    .o-layout--padded {
      padding: 1.5rem 8vw;
      margin-bottom: 3rem; }
    .c-footer {
      margin-bottom: 3rem;
      margin-top: 4.5rem; }
    .c-masthead {
      height: 19.5rem; }
      .c-masthead__pic img {
        width: 304px; }
    .c-masthead__pic {
      right: 1.5rem; }
    .c-masthead__shape {
      top: -1.5rem;
      max-width: 16.5rem; }
    .c-masthead__image {
      margin: 1.5rem 0 0; }
      .c-masthead__image img {
        border-radius: 0.25rem; }
  .c-main-nav {
    margin-top: 1.5rem;
    margin-bottom: 3rem; }
    .c-main-nav__links {
      margin-right: 1.5rem; }
      .c-main-nav__links a + a {
        margin-left: 1.5rem; }
    .c-repeat__meta {
      margin-bottom: 0; }
    .c-repeat__image {
      margin-left: 0;
      margin-right: 0; }
      .c-repeat__image img {
        border-radius: 0.25rem; }
    .c-next-prev {
      display: block;
      position: fixed; } }

@media (min-width: 61.25em) {
    pre {
      border-radius: 0.25rem; }
      pre > code {
        padding: 1.5rem; }
    .o-container {
      max-width: 30rem;
      padding: 0; }
    .o-layout--extended-width, .o-layout--extended {
      margin-left: -6rem;
      margin-right: -6rem; }
    .o-layout--extended-width-small, pre {
      margin-left: -3rem;
      margin-right: -3rem; }
    .o-layout--extended {
      margin-bottom: 3rem; }
    .o-layout--inset {
      padding: 0 6rem; }
    .o-layout--inset-small, pre {
      padding: 0 1.5rem; }
    .o-layout--padded {
      padding: 1.5rem 0; }
    .c-article__link {
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: 10px; }
    .c-masthead__shape {
      right: -3rem; } }

@media all and (min-width: 1300px) {
    html {
      font-size: 125%; }
    h1,
    .h1 {
      font-size: 3.157rem; }
    h2,
    .h2 {
      font-size: 2.369rem;
      line-height: 1.3; }
    h3,
    .h3 {
      font-size: 1.777rem; }
    h4,
    .h4 {
      font-size: 1.333rem; }
    h5,
    .h5 {
      font-size: 1rem; }
    h6,
    .h6 {
      font-size: 0.75rem; } }

@media (min-width: 81.25em) {
    .o-layout--extended-width, .o-layout--extended {
      margin-left: -7.5rem;
      margin-right: -7.5rem; }
    .o-layout--inset {
      padding: 0 7.5rem; }
    .c-article__content .c-icon--link {
      width: 0.5em;
      height: 0.5em;
      margin-top: 0.2em; }
    .c-footer {
      margin-bottom: 4.5rem; }
    .c-footer {
      margin-top: 6rem; }
    .c-masthead {
      height: 24rem; }
      .c-masthead__pic img {
        width: 388px; }
    .c-masthead__pic {
      right: 1.5rem; }
    .c-masthead__shape {
      right: -4.5rem;
      max-width: 21rem; } }
