.like {
  @apply text-red-lighter;
  transition: color 0.2s;

  svg {
    transition: transform 0.15s;
  }

  &:hover,
  &:focus {
    @apply text-red-light;

    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    svg {
      transform: scale(1);
    }
  }
}

.liked {
  @apply text-red;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    @apply text-red-dark;
  }
}
