.share {
}

.share-item {
  display: inline-block;
}

.share-link {
  @apply no-underline text-grey-darker font-semibold text-sm p-2 block;
  transition: color 0.2s;

  svg {
    @apply w-5 h-5;
    transition: transform 0.15s;
  }

  &:hover,
  &:focus {
    @apply text-grey-darker;

    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    svg {
      transform: scale(1);
    }
  }
}
