.summaries {
  @media (--md-viewport) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &.has-featured .summary:first-child {
      grid-column: span 2;
    }
  }

  @media (--lg-viewport) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.summary {
  &:last-child {
    margin-bottom: 0;
  }
}

.summary-list {
  &:nth-child(even) {
    .summary-image {
      order: 1;
    }
  }
}
