.nav-link {
  @apply no-underline text-grey-darkest;

  &.active {
    @apply font-semibold text-black;
  }

  &:not(.active) {
    &:active,
    &:focus,
    &:hover {
      @apply text-black underline;
    }
  }
}

.nav-theme {
  [type='checkbox'] {
    left: -9999px;

    + span::before {
      content: 'off';
    }

    &:checked + span::before {
      content: 'on';
    }
  }
}
