.share {
}

.share-item {
  display: inline-block;

  & + & {
    @apply ml-1;
  }
}

.share-link {
  @apply no-underline text-grey-darker font-semibold text-sm p-2 block;

  svg {
    @apply w-5 h-5;
    transition: transform 0.15s;
  }

  &:hover,
  &:focus {
    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    svg {
      transform: scale(1);
    }
  }
}
