*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @media (--lg-viewport) {
    font-size: 18px;
  }
}

body {
  @apply leading-normal text-grey-darkest font-sans;
}

::selection {
  background-color: var(--light-yellow);
}
