/*----------------------------------*\
    #TRUMPS LINKS
\*----------------------------------*/

.t-inverted-link {
  color: $color-link-alt;
  background-image: none;

  @include hover-focus {
    color: $color-link-hover;
  }

  @include active {
    color: $color-link-active;
  }
}

.t-inverted-link--active {
  color: $color-link-alt-active;
}
