/*----------------------------------*\
    #TRUMPS LINKS
\*----------------------------------*/

.t-inverted-link {
  color: $color-link-alt;
  background-image: none;

  @include hover-focus {
    color: $color-link-hover;
  }

  @include active {
    color: $color-link-active;
  }

  .theme-dark & {
    color: $color-dark-link-alt;
    background-image: none;

    @include hover-focus {
      color: $color-dark-link-alt-hover;
      background-image: linear-gradient(
        to bottom,
        transparent 50%,
        $color-dark-link-alt-hover 50%
      );
    }

    @include active {
      color: $color-dark-link-alt-active;
      background-image: linear-gradient(
        to bottom,
        transparent 50%,
        $color-dark-link-alt-active 50%
      );
    }
  }
}

.t-inverted-link--active {
  color: $color-link-alt-active;

  .theme-dark & {
    color: $color-dark-link-alt-active;
  }
}
