/*----------------------------------*\
    #TRUMPS LINKS
\*----------------------------------*/

.t-default-link {
  color: var(--color-ribbon-blue);
}

.t-inverted-link {
  color: var(--color-lynch);

  &.t-inverted-link--active,
  &:--active {
    color: var(--color-ebony-clay);
  }

}



