---
import { GITHUB_URL, LINKEDIN_URL } from "../consts";
import Container from "./Container.astro";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";

const today = new Date();
---

<footer>
  <Container className="flex justify-between py-8 pt-16 md:pt-40 md:pb-20">
    <a href="/" aria-label="Home">
      <Logo />
    </a>
    <div class="text-right">
      <nav class="text-sm md:text-base">
        <ul class="flex flex-col gap-4 md:gap-8 sm:flex-row justify-end">
          <li>
            <HeaderLink href="/uses">Uses</HeaderLink>
          </li>
          <li>
            <HeaderLink href="/privacy">Privacy</HeaderLink>
          </li>
          <li>
            <HeaderLink href="/rss.xml">RSS</HeaderLink>
          </li>
          <li>
            <HeaderLink href={GITHUB_URL}>GitHub</HeaderLink>
          </li>
          <li>
            <HeaderLink href={LINKEDIN_URL}>LinkedIn</HeaderLink>
          </li>
        </ul>
      </nav>
      <span class="text-gray-500 mt-4 block sm:mt-2 text-sm"
        >&copy; {today.getFullYear()} Devin Schulz</span
      >
    </div>
  </Container>
</footer>
