---
import HeaderLink from "./HeaderLink.astro";
---

<header class="container mx-auto my-1 px-4">
  <a class="skip-to-main" href="#main" class="sr-only focus:not-sr-only">
    Skip to content</a
  >
  <nav>
    <ul>
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      <li><HeaderLink href="/projects">Projects</HeaderLink></li>
    </ul>
  </nav>
  <div class="social-handles"></div>
</header>
