---
import Container from "./Container.astro";
---

<Container>
  <section
    class="flex h-[90vh] min-h-full flex-col justify-between md:grid md:grid-cols-12 md:grid-rows-[1fr_auto]"
  >
    <h1
      class="my-auto font-heading text-3xl font-extrabold text-black dark:text-white md:col-span-12 md:text-4xl lg:max-w-[28ch] lg:text-5xl xl:text-6xl"
    >
      I focus on designing, developing, and delighting users.
    </h1>
    <p
      class="text-gray-700 dark:text-gray-300 md:col-span-9 md:col-start-4 md:text-lg lg:col-span-8 lg:col-start-4 lg:text-xl xl:text-2xl"
    >
      I'm Devin Schulz, a creative developer with a decade's worth of pixels and
      code under my belt, now crafting digital experiences at Cape Privacy.
      Remote work veteran since 2014, minimalist in progress, dad of two, and
      fuelled by a never-ending stream of coffee—because what's code without a
      little caffeine humour?
    </p>
  </section>
  <Container />
</Container>
