---
import { SEO, type SEOProps } from "astro-seo";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export interface Props extends SEOProps {}

const { props } = Astro;

const title = props.title || SITE_TITLE;
const description = props.description || SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={title}
      description={description}
      {...props}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.svg", type: "image/svg+xml" },
          { rel: "alternate icon", sizes: "16x16", href: "/favicon.ico" },
        ],
        meta: [
          { name: "viewport", content: "width=device-width, initial-scale=1" },
        ],
        ...props.extend,
      }}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "https://devinschulz.com/social-media.png",
        },
        image: {
          width: 1600,
          height: 1000,
        },
        optional: {
          description,
          siteName: SITE_TITLE,
        },
        ...props.openGraph,
      }}
      twitter={{
        card: "summary_large_image",
        title,
        description,
        image: "https://devinschulz.com/social-media.png",
      }}
    />
  </head>
  <body
    class="bg-white dark:bg-black text-gray-900 dark:text-gray-200 font-sans"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
