<svg width="26" height="30" viewBox="0 0 26 30" fill="none" class="group">
  <title>Devin Schulz</title>
  <path
    d="M0.00191297 0.0160307L9.40454 0.0136719C9.40454 0.0136719 10.8904 1.0431 12.0278 2.39363C13.1646 3.7442 13.2786 4.24281 13.6997 5.27591L6.27754 5.38009L6.21986 9.60795C6.21986 9.60795 6.08862 10.1912 7.46632 10.658C8.84403 11.1249 12.844 12.0998 13.8958 12.3619C14.948 12.624 19.4258 12.9761 22.012 15.5805C24.5982 18.1848 24.8963 20.8129 24.2415 22.7793C23.2023 25.8994 21.528 27.4188 18.9826 28.7135C16.2493 30.1038 13.4655 29.9983 13.4655 29.9983H7.55574L7.56054 24.7926C7.56054 24.7926 8.70607 24.7889 10.0386 24.7916C11.4403 24.7945 12.2921 24.8908 13.7992 24.6023C15.7907 24.2213 19.2143 22.5254 17.8102 20.0126C16.6089 17.8625 13.4463 18.122 10.9471 17.6219C8.44842 17.1219 4.16964 16.3858 2.01512 14.0296C1.09312 13.0217 0 11.1728 0 10.8081C0 10.4435 0.00191297 0.0160307 0.00191297 0.0160307Z"
    class="fill-black dark:fill-white"></path>
  <path
    d="M11.3906 0.0407498C11.3906 0.0407498 12.5131 0.896347 13.5139 2.25947C14.5147 3.62263 14.7729 4.42688 15.2262 5.64796C15.2262 5.64796 17.5562 6.15048 18.4138 8.71256C19.2713 11.2746 19.2612 12.6252 19.2612 12.6252C19.2612 12.6252 21.6061 13.2593 23.1401 14.8382C24.674 16.417 25.1571 17.1406 25.4157 19.053C25.4157 19.053 27.0049 13.3086 24.9254 7.7948C22.4897 1.33624 17.4908 -0.292049 11.3906 0.0407498Z"
    class="fill-black dark:fill-white opacity-40 group-hover:opacity-80 transition-opacity"
  ></path>
  <path
    d="M6.24485 30.0006H0V13.3672C0 13.3672 1.34165 15.3852 2.85732 16.3895C4.37298 17.394 6.2136 17.7785 6.2136 17.7785L6.24485 30.0006Z"
    class="fill-black dark:fill-white opacity-40 group-hover:opacity-80 transition-opacity"
  ></path>
</svg>
