---
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="list-disc pl-5 space-y-1 md:text-lg">
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`} class="link">
          {post.data.title}
        </a>
      </li>
    ))
  }
</ul>
