<ul class="c-article__meta u-small-text u-inline-list">
  <li class="c-article__date">
    <time datetime="{{ .Date }}" itemprop="datePublished">
      {{- .Date.Format .Site.Params.dateFormat -}}
    </time>
  </li>
  <li class="c-article__tags" itemprop="keywords">
    {{ partial "categories.html" . }}
  </li>
  {{ $comments := .Site.Data.comments }}
  {{ $comments := index $comments .UniqueID }}
  {{ if $comments }}
    <li class="c-article__comment-count">
      <a href="{{ .RelPermalink }}#comments">
        {{ if eq (len $comments) 1 }}
          {{ len $comments }} Comment
        {{ else }}
          {{ len $comments }} Comments
        {{ end }}
      </a>
    </li>
  {{ end }}
</ul>
