{{ with .Params.tags }}
  <ul class="inline font-medium text-xxs font-display tracking-wide space-x-1">
    {{ range . }}
      <li class="inline-block">
        <a href="/tags/{{ . | urlize }}/" class="text-grey-darkest hover:text-black border border-grey-light hover:bg-grey-lightest px-2 py-1 rounded-full">
          {{/* Fix incorrect capitalization */}}
          {{ if eq "css" . }}
            CSS
          {{ else if eq "javascript" . }}
            JavaScript
          {{ else }}
            {{ . | title }}
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
