{{ with .Params.tags }}
<ul class="inline text-sm font-display tracking-wide space-x-1">
  {{ range . }}
  <li class="inline-block">
    <a
      href="/tags/{{ . | urlize }}/"
      class="border-b border-gray-300 dark:border-gray-700 border-dotted hover:border-none hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black"
    >
      <span class="no-sr-only text-gray-700 dark:text-gray-400">#</span>
      {{- . | lower | urlize -}}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
