{{ with .Params.tags }}
  <ul class="inline font-medium tracking-wide text-xs sm:text-xxs">
    {{ range . }}
      <li class="inline-block">
        <a href="/tags/{{ . | urlize }}" class="c-tag c-tag-{{ . | urlize }}">
          {{/* Fix incorrect capitalization */}}
          {{ if eq "css" . }}
            CSS
          {{ else if eq "javascript" . }}
            JavaScript
          {{ else }}
            {{ . | title }}
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
