  {{ $id := .comment._id }}
  {{ $comments := .comments }}
  {{ $page := .page }}
  {{ $depth := .depth }}

  <li class="c-comment" id="comment-{{ .comment._id }}" itemscope itemprop="http://schema.org/UserComments"> <header class="c-comment__header">
    {{- $gravatarURL := (printf "https://www.gravatar.com/avatar/%s" .comment.email) | safeURL -}}
    {{- $imageSize := 40 -}}
    <img class="c-comment__avatar" width="{{ $imageSize }}" height="{{ $imageSize }}" src="{{ $gravatarURL }}?s={{ $imageSize }}" srcset="{{ $gravatarURL }}?s={{ $imageSize }} 1x, {{ $gravatarURL }}?s={{ mul $imageSize 2 }} 2x" alt="{{ .comment.name }}">
    {{ if .website }}
      <h4 class="c-comment__author" itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <a rel="external nofollow" href="{{ .comment.website }}" itemprop="name">
          {{- .comment.name -}}
        </a>
      </h4>
    {{ else }}
      <h4 class="c-comment__author">{{ .comment.name }}</h4>
    {{ end }}
    <div class="c-comment__timestamp">
      <time class="js-comment-date" datetime="{{ .comment.date }}" itemprop="commentTime">
        {{- dateFormat ($page.Param "dateFormat") .comment.date -}}
      </time>
      <a href="#comment-{{ .comment._id }}" class="c-comment__permalink" title="Permalink to this comment">
        {{- partial "svg/link.svg" -}}
      </a>
    </div>
  </header>
  <div class="c-comment__content" itemprop="commentText">
    {{- .comment.body | markdownify -}}
  </div>
  {{ if eq $depth 0 }}
    <a href="#" class="c-comment__reply js-reply" data-parent="{{ .comment._id }}">Reply to {{ .comment.name }}</a>
  {{ end }}

  {{ $page.Scratch.Set "hasReplies" 0 }}
  {{ range $comments }}
    {{ if eq .parent $id }}
      {{ $page.Scratch.Add "hasReplies" 1 }}
    {{ end }}
  {{ end }}

  {{ if and (ne ($page.Scratch.Get "hasReplies") 0) (eq $depth 0) }}
    {{ $depth := (add $depth 1) }}
    <ul class="c-comments__list is-nested c-comment__depth-{{ $depth }}">
      {{ range sort $comments "date" }}
        {{ if eq .parent $id }}
          {{ partial "comment.html" (dict "comment" . "comments" $comments "page" $page "depth" $depth) }}
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</li>
