<form class="c-form c-form--comments js-comment-form" method="POST" action="https://api.staticman.net/v2/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
  <div class="c-callout">
    <p class="c-callout__text">Your email address is used to display Gravatar thumbnails and if opted in, to recieve comment replies.</p>
  </div>
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
  <input type="hidden" name="fields[parent]" class="js-parent" value="">
  <fieldset class="c-form__group">
    <label for="message">Comment<span class="form__required">*</span></label>
    <textarea id="message" name="fields[body]" placeholder="Your message" rows="5" aria-labelledby="message-help"></textarea>
    <span class="c-form__help u-small-text" id="message-help">{{ partial "svg/markdown.svg" }} Supports markdown</span>
  </fieldset>
  <fieldset class="c-form__group">
    <label for="name">Name<span class="form__required">*</span></label>
    <input id="name" name="fields[name]" type="text" placeholder="Your name" >
  </fieldset>
  <fieldset class="c-form__group">
    <label for="email">Email<span class="form__required">*</span></label>
    <input id="email" name="fields[email]" type="email" placeholder="Your email address" >
  </fieldset>
  <fieldset class="c-form__group">
    <label for="website">Website</label>
    <input id="website" name="fields[website]" type="text" placeholder="Your website">
  </fieldset>
  <fieldset class="c-form__group">
    <input type="checkbox" id="subscribe" name="options[subscribe]" value="email" />
    <label for="subscribe">Send me an email when someone comments on this post.</label>
  </fieldset>
  <button type="submit">Submit</button>
</form>
