<form class="c-form c-form--comments js-comment-form" method="POST" action="https://api.staticman.net/v2/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments" data-validate>
  <div class="c-callout">
    <p class="c-callout__text">Your email address is used to display <a href="https://gravatar.com" target="_blank">Gravatar</a> thumbnails and if opted in, to recieve comment replies.</p>
  </div>
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
  <input type="hidden" name="fields[parent]" class="js-parent" value="">
  <div class="c-form__group c-form__comment">
    <label for="message">Comment<span class="c-form__required">*</span></label>
    <textarea id="message" name="fields[body]" placeholder="Your message" rows="5" aria-labelledby="message-help" required></textarea>
    <span class="c-form__help u-small-text" id="message-help">{{ partial "svg/markdown.svg" }} Supports markdown</span>
  </div>
  <div class="c-form__group">
    <label for="name">Name<span class="c-form__required">*</span></label>
    <input id="name" name="fields[name]" type="text" required>
  </div>
  <div class="c-form__group">
    <label for="email">Email<span class="c-form__required">*</span></label>
    <input id="email" name="fields[email]" type="email" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  </div>
  <div class="c-form__group">
    <label for="website">Website</label>
    <input id="website" name="fields[website]" type="url" placeholder="Your website">
  </div>
  <div class="c-form__group">
    <input type="checkbox" id="subscribe" name="options[subscribe]" value="email" />
    <label for="subscribe">Send me an email when someone comments on this post.</label>
  </div>
  <div class="c-form__btn-group">
    <button class="c-btn" type="submit">Submit</button>
  </div>
</form>
