{{ $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
<head>
  <meta charset="utf-8">
  <title>{{ $title }}</title>

  {{ with default .Site.Params.Description .Description  }}
    <meta name="description" content="{{ . }}">
    <meta name="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.author.twitterHandle }}
    <meta name="twitter:site" content="@{{ . }}">
  {{ end }}

  <meta property="twitter:title" content="{{ $title }}">

  <meta property="og:locale" content="{{ .Site.Language.Lang }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  {{ range .Params.tags }}<meta property="article:section" content="{{ . }}">{{ end }}
  {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}">{{ end }}
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fac24f">

  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
  {{ end }}

  {{ with .Params.prev }}
    <link rel="prev" href="{{ . | absURL }}">
  {{ end }}
  {{ with .Params.next }}
    <link rel="next" href="{{ . | absURL }}">
  {{ end }}

  {{/* Attempt to prefetch and prerender the next page the user might visit */}}
  {{ if not .IsHome }}
    <link rel="prerender" href="{{ .Site.BaseURL | absURL }}">
  {{ end }}

  {{ if .IsPage }}
  {{ if .NextInSection }}
    <link rel="prefetch" href="{{ .NextInSection.Permalink }}">
  {{ end }}

  {{ if .PrevInSection }}
    <link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
  {{ end }}
  {{ end }}

  {{ with .Params.canonical }}
    <link href="{{ . }}" rel="canonical" />
  {{ end }}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  {{ $postCSSConfig := (dict "config" "postcss.config.js") }}

  {{ if .Site.IsServer }}
    {{ $css := resources.Get "css/main.css" | toCSS | postCSS $postCSSConfig  }}
    <link rel="stylesheet" href="{{ $css.Permalink | relURL }}" media="screen">
  {{ else }}
    {{ $css := resources.Get "css/main.css" | toCSS | postCSS $postCSSConfig | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink | relURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">
  {{ end }}

  {{ if .Site.IsServer }}
    {{ $js := resources.Get "js/main.js" | js.Build }}
    <script src="{{ $js.Permalink | relURL }}" defer></script>
  {{ else }}
    {{ $js := resources.Get "js/main.js" | js.Build | minify | fingerprint }}
    <script src="{{ $js.Permalink | relURL }}" defer></script>
  {{ end }}

  {{ if .IsHome }}
    <script type="application/ld+json">
     {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "{{ .Permalink }}",
       "name": "{{ .Site.Title }}",
       "author": {
         "@type": "Person",
         "name": "{{ .Site.Params.author.name }}"
       },
       "description": "{{ .Site.Params.description }}",
     }
    </script>
  {{ end }}
  {{ if .IsPage }}
    <script type="application/ld+json">
     {{ if eq .Section "posts" }}
     {
       "@context": "http://schema.org",
       "@type": "BlogPosting",
       "headline": "{{ .Title }}",
       "keywords": {{ .Params.tags | jsonify }},
       "url": "{{ .Permalink }}",
       "datePublished": "{{ time .Date }}",
       "dateModified": "{{ time .Lastmod }}",
       "description": "{{ .Description }}",
       "wordCount": "{{ .WordCount }}",
       "author": {
         "@type": "Person",
         "name": "{{ .Site.Params.author.name }}"
       }
     }
     {{ else }}
     {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "{{ .Permalink }}",
       "name": "{{ .Title }}",
       "author": {
         "@type": "Person",
         "name": "{{ .Site.Params.author.name }}"
       },
       "description": "{{ .Site.Params.description }}",
     }
     {{ end }}
  </script>
  {{ end }}
</head>
