<header class="u-text-center o-layout o-layout--extended o-layout--padded">
  {{- if and (eq .Type "posts") (ne .Kind "section") -}}
    {{ partial "meta.html" . }}
  {{- end -}}
  {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
  <h1 class="c-masthead__title u-mt-m{{ if $img }} u-mb-l{{ end }}" itemprop="name headline">
    {{- .Title -}}
  </h1>
  {{ with $img }}
    {{ $mobile := .Resize "400x"}}
    {{ $mobileRetina := .Resize "800x" }}
    {{ $tablet := .Resize "640x"}}
    {{ $tabletRetina := .Resize "1280x" }}
    {{ $desktop := .Resize "900x"}}
    {{ $desktopRetina := .Resize "1800x" }}
    {{ if $.Params.caption }}
      <figure class="u-mb">
    {{ end}}
      <picture class="c-masthead__image u-mb" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <source media="(max-width: 46.25em)" srcset="{{ $mobile.RelPermalink }}, {{ $mobileRetina.RelPermalink }} 2x" />
        <source media="(max-width: 61.25em)" srcset="{{ $tablet.RelPermalink }}, {{ $tabletRetina.RelPermalink }} 2x" />
        <source srcset="{{ $desktop.RelPermalink }}, {{ $desktopRetina.RelPermalink }} 2x" />
        <img src="{{ $desktop.RelPermalink }}" itemprop="contentUrl url" alt="{{ $.Params.imageAltText }}" />
      </picture>
    {{ with $.Params.caption }}
      <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
    {{ if $.Params.caption }}
      </figure>
    {{ end}}
  {{ end }}
  {{ if not $img }}
    {{ if and (eq .Type "posts") (ne .Kind "section") }}
      <div class="c-masthead__hr"></div>
    {{ end }}
  {{ end }}
</header>
