<header class="text-center mb-12">
  {{- if and (eq .Type "posts") (ne .Kind "section") -}}
    {{ partial "meta.html" . }}
  {{- end -}}
  {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
  <h1 class="lg:text-5xl max-w-lg mx-auto {{ if $img }}mb-6{{ else }}mb-4{{ end }}" itemprop="name headline">{{ .Title }}</h1>
  {{ with $img }}
    {{ $mobile := .Resize "400x"}}
    {{ $mobileRetina := .Resize "800x" }}
    {{ $tablet := .Resize "640x"}}
    {{ $tabletRetina := .Resize "1280x" }}
    {{ $desktop := .Resize "900x"}}
    {{ $desktopRetina := .Resize "1800x" }}
    {{ if $.Params.caption }}
      <figure class="mb-4">
    {{ end}}
      <picture class="mb-0" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <source media="(max-width: 46.25em)" srcset="{{ $mobile.RelPermalink }}, {{ $mobileRetina.RelPermalink }} 2x" />
        <source media="(max-width: 61.25em)" srcset="{{ $tablet.RelPermalink }}, {{ $tabletRetina.RelPermalink }} 2x" />
        <source srcset="{{ $desktop.RelPermalink }}, {{ $desktopRetina.RelPermalink }} 2x" />
        <img class="w-full h-auto lg:w-auto" src="{{ $desktop.RelPermalink }}" itemprop="contentUrl url" alt="{{ $.Params.imageAltText }}" />
      </picture>
    {{ with $.Params.caption }}
      <figcaption class="text-sm text-grey markdown">{{ . | markdownify }}</figcaption>
    {{ end }}
    {{ if $.Params.caption }}
      </figure>
    {{ end}}
  {{ end }}
  {{ if not $img }}
    {{ if and (eq .Type "posts") (ne .Kind "section") }}
      <div class="c-masthead__hr"></div>
    {{ end }}
  {{ end }}
</header>
