<header class="container pb-8 pt-4 lg:pt-6 lg:pb-12">
  <div class="flex content-between">
    <h2 class="text-sm font-bold">
      <a href="/" class="text-black no-underline">Devin Schulz</a>
    </h2>
    <nav class="text-sm ml-auto" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
        {{ $isActive := (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
        <a
          class="nav-link ml-3 md:ml-6{{ if $isActive }} active{{ end }}"
          href="{{ .URL }}"
          itemprop="url"
        >
         <span itemprop="name">{{ .Name }}</span>
        </a>
      {{ end }}
    </nav>
  </div>
</header>

