<header class="c-main-nav js-main-nav u-py-m u-small-text">
  <div class="c-main-nav__wrapper o-container u-font-sans">
    <div class="c-main-nav__logo-wrapper">
      <a href="/" class="c-main-nav__logo">
       Devin Schulz
      </a>
    </div>
    <nav class="c-main-nav__links" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
        {{ $isActive := (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
        <a
          class="c-main-nav__link t-inverted-link{{ if $isActive }} c-main-nav__link--active{{ end }}"
          href="{{ .URL }}"
          itemprop="url"
        >
         <span itemprop="name">{{ .Name }}</span>
        </a>
      {{ end }}
    </nav>
    <button class="c-toggle js-day-night" role="switch" aria-checked="false" aria-label="Toggle between day and night mode">
      <div class="c-toggle__item"></div>
      <div class="c-toggle__item"></div>
    </button>
  </div>
</header>

