<header class="c-main-nav js-main-nav">
  <div class="c-main-nav__wrapper o-container">
    <div class="c-main-nav__logo-wrapper">
      <a href="/" class="c-main-nav__logo" aria-hidden="true" role="presentation">
        devin.
      </a>
    </div>
    <nav class="c-main-nav__links u-small-text" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
        <a
          class="c-main-nav__link{{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} c-main-nav__link--active t-inverted-link--active{{ end }} t-inverted-link"
          href="{{ .URL }}"
          itemprop="url"
        >
         <span itemprop="name">{{ .Name }}</span>
        </a>
        {{ end }}
    </nav>
  </div>
</header>

