<ul
  class="text-xxs text-grey-darkest font-medium font-display tracking-wide space-x-4 flex items-center"
>
  {{ with .Params.canonical }}
    <li class="inline-flex items-center font-bold">
      {{ partial "svg/link.svg" (dict "size" 16 "class" "mr-2") }}
      <span class="ml-1">Link</span>
    </li>
  {{ end }}
  <li>
    <time datetime="{{ .Date.Format .Site.Params.timeFormatRFC3339 }}">
      {{- .Date.Format .Site.Params.timeFormatDefault -}}
    </time>
  </li>
  <li>{{ .ReadingTime }} min read</li>
</ul>
