<div class="c-repeat">
  <p class="c-repeat__meta u-small-text">{{ .Params.workDate }}</p>
  <h2 class="c-repeat__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="c-repeat__body">{{ .Content }}</p>
  <dl class="u-inline-dl">
    {{ with .Params.role }}
      <dt>Role:</dt>
      <dd>{{ . }}</dd>
    {{ end }}
    {{ with .Params.agency }}
      <dt>Agency:</dt>
      {{ if $.Params.agencyLink }}
        <dd>
          <a href="{{ $.Params.agencyLink }}" rel="external nofollow">{{ . }}</a>
        </dd>
      {{ else }}
        <dd>{{ .}}</dd>
      {{ end }}
    {{ end }}
    {{ with .Params.technologies }}
      <dt>Technologies:</dt>
      <dd>
        <ul class="u-comma-list">
          {{ range . }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </dd>
    {{ end }}
  </dl>
  {{ with .Params.Website }}
    <p class="c-repeat__url">
      <a href="{{ .}}" rel="external nofollow">Visit {{ $.Title }}</a>
    </p>
  {{ end }}
</div>
