<div class="c-repeat">
  <p class="c-repeat__meta u-small-text u-font-sans">
    {{- .date | safeHTML -}}
  </p>
  <h2 class="c-repeat__title">{{ .title }}</h2>
  <p class="c-repeat__body">{{ .body | markdownify }}</p>
  <dl class="u-inline-dl">
    {{ with .role }}
      <dt>Role:</dt>
      <dd>{{ . }}</dd>
    {{ end }}
    {{ if .agency }}
      <dt>Agency:</dt>
      {{ if .agencyLink }}
        <dd>
          <a href="{{ .agencyLink }}" rel="external nofollow">{{ .agency }}</a>
        </dd>
      {{ else }}
        <dd>{{ .agency }}</dd>
      {{ end }}
    {{ end }}
    {{ with .technologies }}
      <dt>Technologies:</dt>
      <dd>
        <ul class="u-comma-list">
          {{ range . }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </dd>
    {{ end }}
  </dl>
  {{ with .url }}
    <p class="c-repeat__url">
      <a href="{{ .}}" rel="external nofollow">Visit {{ $.title }}</a>
    </p>
  {{ end }}
</div>
