{{ $related := .Site.RegularPages.Related . | first 2 }}
{{ with $related }}
<aside class="mt-24">
  <header class="border-b mb-8">
    <h2>Related Post{{ if gt (len .) 1 }}s{{ end }}</h3>
  </header>
  <div class="mb-8">
    {{ $lastIndex := sub (len .) 1 }}
    {{ range $i, $v := . }}
      {{ partial "summary" (dict "post" $v "index" $i "lastIndex" $lastIndex) }}
    {{ end }}
  </div>
  <div class="hidden mt-12 sm:mt-16 js-all">
    {{ $posts := where $.Site.RegularPages "Section" "posts" }}
    {{ $posts := $posts | complement $related }}
    {{ $lastIndex := sub (len $posts) 1 }}
    {{ range $i, $v := $posts }}
      {{ partial "summary" (dict "post" $v "index" $i "lastIndex" $lastIndex) }}
    {{ end }}
  </div>
  <a href="/" class="js-view-all">View all articles</a>
</aside>
{{ end }}
