{{ if $.Site.Data.comments }}
  {{ $entryID := .UniqueID }}
  {{ $comments := index $.Site.Data.comments $entryID }}
  {{ if $comments }}
   {{ if gt (len $comments) 1  }}
      <h3>{{ len $comments }} Comment</h3>
    {{ else }}
      <h3>{{ len $comments  }} Comments</h3>
    {{ end }}
  {{ end }}

  {{ $.Scratch.Add "hasComments" 0 }}
  {{ range $index, $comments := (index $.Site.Data.comments $entryID ) }}
    {{ if not .parent }}
      {{ $.Scratch.Add "hasComments" 1 }}
      <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="static-comment">
        <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=48">
        {{ if .website }}
        <h4 class="comment-author">
          <a rel="external nofollow" href="{{ .website }}">{{ .name }}</a></h4>
        {{ else }}
        <h4 class="comment-author">{{ .name }}</h4>
        {{ end }}
        <div class="comment-timestamp">
          <a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment">
            <time datetime="{{ .date }}">{{ .date }}</time>
          </a>
        </div>
        <div class="comment-content"><p>{{ .body | markdownify }}</p></div>
      </article>
    {{ end }}
  {{ end }}
{{ end }}

