{{ $allComments := $.Site.Data.comments }}
<section id="comments" class="c-comments">
  <h2 class="c-comments__title">Join the discussion</h2>
  {{ if $.Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments .UniqueID }}
    {{ if $comments }}
      <ul class="c-comments__list c-comment__depth-{{ $depth }}">
        {{ $depth := 0 }}
        {{ range sort $comments "date" }}
          {{ if not .parent }}
            {{ partial "comment.html" (dict "comment" . "comments" $comments "page" $ "depth" $depth) }}
          {{ end }}
        {{ end }}
      </ul>
    {{ else }}
      <p>Be the first to comment!</p>
    {{ end }}
  {{ end }}
</section>
