{{ $allComments := .Site.Data.comments }}
{{ $commentsEnabled := .Site.Params.commentsEnabled }}
<section id="comments" class="c-comments u-my-l">
  {{ if .Site.Data.comments }}
    {{ $comments := index .Site.Data.comments .UniqueID }}
    {{ if $comments }}
      <h2 class="c-comments__title">
        {{- printf " %d Responses" (len $comments) -}}
      </h2>
      {{ $depth := 0 }}
      <ul class="c-comments__list c-comment__depth-{{ $depth }}">
        {{ range sort $comments "date" }}
          {{ if not .parent }}
            {{ partial "comment.html" (dict "comment" . "comments" $comments "page" $ "depth" $depth "commentsEnabled" $commentsEnabled) }}
          {{ end }}
        {{ end }}
      </ul>
    {{ else }}
      <h2 class="c-comments__title">Join the discussion</h2>
      {{ if $commentsEnabled }}
        <p>Be the first to comment!</p>
      {{ end }}
    {{ end }}
  {{ end }}
</section>
