{{ $level := .level }}
{{ $archive := .archive }}
{{ $condensed := .condensed }}
{{ with .post }}
  <article>
    {{ if not $archive }}
      <div class="mb-2">
        {{ partial "post-metadata" . }}
      </div>
    {{ end }}
    {{ printf "<%s class='mb-4'>" $level | safeHTML }}
      <a href="{{ .Permalink | relURL }}" class="text-inherit hover:text-primary o-hover-line">{{ .Title | title }}</a>
    {{ printf "</%s>" $level | safeHTML }}
    {{ if not $archive }}
      {{ if $condensed }}
        <div class="prose mb-4">{{ .Description }}</div>
      {{ else }}
        <div class="prose mb-4">{{ .Summary }}</div>
      {{ end }}
      <div class="flex flex-col sm:flex-row sm:items-center font-display text-primary text-sm mb-4 sm:space-x-4">
        <a href="{{ .Permalink | relURL }}" class="flex items-center group hover:underline">
          Continue Reading
          <span class="transform group-hover:translate-x-1 transition transition-transform duration-100">
            {{ partial "svg/chevron-right.svg" }}
          </span>
        </a>
        {{ with .Params.canonical }}
          {{ $url := urls.Parse . }}
          <a href="{{ . }}" rel="nofollow noopener" class="flex items-center hover:underline">
            <span class="mr-1">Read at {{ $url.Host }}</span>
            {{ partial "svg/external.svg" (dict "size" 18) }}
          </a>
        {{ end }}
      </div>
    {{ end }}
    {{ if and .Params.tags (not $archive) }}
      {{ partial "category-meta" . }}
    {{ end }}
  </article>
{{ end }}
