<article class="c-repeat c-repeat--post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="c-repeat__header">
    <div class="c-repeat__meta">
      {{ partial "meta.html" . }}
    </div>
    <h2 itemprop="name headline" class="c-repeat__title">
      <a rel="bookmark" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
  </header>
  <p class="c-repeat__summary" itemprop="description">{{ .Summary }}</p>
  <span class="u-hidden">
    {{ with .Site.Author.name }}
      <meta itemprop="author" content="{{ . }}">
      <span itemprop="publisher" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="{{ . }}">
      </span>
    {{ end }}
    <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}">
  </span>
</article>
