<li>
  <a href="{{ .RelPermalink }}">
    <span
      class="border-b border-gray-300 dark:border-gray-700 border-dotted hover:border-none hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black"
    >
      {{ .Title | title }}
    </span>
    <time
      datetime="{{ .Date.Format .Site.Params.timeFormatRFC3339 }}"
      class="text-gray-700 dark:text-gray-400 text-sm sm:ml-2 w-full sm:w-24 inline-block"
    >
      {{- .Date.Format .Site.Params.timeFormatShort -}}
    </time>
  </a>
</li>
