/*----------------------------------*\
    #MEDIA
\*----------------------------------*/
:root {
  --mobile: 320px;
  --tablet: 740px;
  --desktop: 980px;
  --wide: 1300px;
}

/* TODO: Investigate why setting each value as a variable results in a circular
 *       definition error.
 */

@custom-media --tablet-viewport (min-width: 740px);
@custom-media --only-tablet-viewport (width >= 740px and width < 980px);

@custom-media --desktop-viewport (min-width: 980px);
@custom-media --only-desktop-viewport (width >= 980px and width < 1300px);

@custom-media --wide-viewport (min-width: 1300px);
