$black: #000;
$white: #fff;
$pipi: #fefeca;
$bright-gray: #3c424f;
$pale-sky: #676f7e;
$athens-gray: #e5e9ee;
$black-pearl: #061027;
$mariner: #2164bf;
$fiord: #4a5669;
$lynch: #627792;
$athens-gray: #f6f6f7;
$ribbon-blue: #0055ff;

$color-headings: $bright-gray;
$color-text: $fiord;
$color-text-light: $lynch;
$color-active: $fiord;

$color-light-background: $athens-gray;

$color-link: $ribbon-blue;
$color-link-hover: darken($color-link, 15%);
$color-link-active: darken($color-link, 25%);

$color-link-alt: $lynch;
$color-link-alt-hover: darken($color-link-alt, 15%);
$color-link-alt-active: darken($color-link-alt, 25%);

$color-selection: $pipi;

$color-list-counter: $ribbon-blue;

$color-input-placeholder: $color-text-light;
$color-input-background: $athens-gray;
$color-input-border: $athens-gray;
$color-input-border-active: darken($athens-gray, 10%);

$color-callout-background: $pipi;
