$black: #000;
$white: #fff;
$pipi: #fefeca;
$ribbon-blue: #0201F3;
$orange-red: #e42a00;

$color-headings: lighten($black, 10%);
$color-text: lighten($black, 20%);
$color-text-light: lighten($black, 40%);
$color-active: $color-headings;

$color-light-background: lighten($black, 96%);

$color-link: $ribbon-blue;
$color-link-hover: darken($color-link, 15%);
$color-link-active: darken($color-link, 25%);

$color-link-alt: $color-text-light;
$color-link-alt-hover: darken($color-link-alt, 15%);
$color-link-alt-active: darken($color-link-alt, 25%);

$color-selection: $pipi;

$color-input-placeholder: $color-text-light;
$color-input-background: $color-light-background;
$color-input-border: $color-input-background;
$color-input-border-active: darken($color-input-background, 10%);
$color-input-error: $orange-red;

$color-input-radio-background: $color-light-background;
$color-input-radio-background-active: $color-link;

$color-callout-background: $pipi;

$color-btn-primary-text: $white;
$color-btn-primary-background: $color-link;
$color-btn-primary-background-hover: $color-link-hover;
$color-btn-primary-background-active: $color-link-active;
