$base-font-size: 16;
$base-line-height: 24;
$base-ratio: $base-line-height / $base-font-size;

$base-display-ratio: 1.2;

$font-family-sans-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-sans: Karla, $font-family-sans-fallback;

$font-family-monospace: 'Anonymous Pro', 'Inconsolata', 'Menlo', 'Consolas',
  'Bitstream Vera Sans Mono', 'Courier', monospace;

$font-family-sans-alt-fallback: 'Poppins Local', $font-family-sans-fallback;
$font-family-sans-alt: 'Poppins', $font-family-sans-alt-fallback;

$font-family-serif-fallback: sans-serif;
$font-family-serif: Lora, $font-family-serif-fallback;

// Define font stack used for headings
$font-family-display-fallback: $font-family-sans-alt-fallback;
$font-family-display: $font-family-sans-alt;
$font-weight-display: 800;

// Define font stack used for paragraphs
$font-family-default-fallback: $font-family-sans-fallback;
$font-family-default: $font-family-sans;
$font-weight-default: 400;
$font-weight-default-bold: 700;

$typi: (
  base: (null: (16px, $base-ratio), medium: (18px), xlarge: (20px)),
  h1:
    (null: (1.77em, $base-display-ratio), medium: (2.369em), xlarge: (3.157em)),
  h2:
    (
      null: (1.333em, $base-display-ratio),
      medium: (1.777em),
      xlarge: (2.369em, 1.3)
    ),
  h3: (null: (1em, $base-display-ratio), medium: (1.333em), xlarge: (1.777em)),
  h4: (null: (0.75em, $base-display-ratio), medium: (1em), xlarge: (1.333em)),
  h5: (null: (0.563em, $base-display-ratio), medium: (0.75em), xlarge: (1em)),
  h6:
    (null: (0.422em, $base-display-ratio), medium: (0.563em), xlarge: (0.75em)),
  small: (null: (0.85em, $base-ratio), medium: (0.75em))
);

$fonts: (
  'AnonymousPro-Bold': (family: 'Anonymous Pro', weight: 600, style: 'normal'),
  'AnonymousPro-BoldItalic':
    (family: 'Anonymous Pro', weight: 600, style: 'italic'),
  'AnonymousPro-Italic': (family: 'Anonymous Pro', weight: 400, style: 'italic'),
  'AnonymousPro-Regular':
    (family: 'Anonymous Pro', weight: 400, style: 'normal'),
  'Karla-Bold': (family: 'Karla', weight: 600, style: 'normal'),
  'Karla-BoldItalic': (family: 'Karla', weight: 600, style: 'italic'),
  'Karla-Italic': (family: 'Karla', weight: 400, style: 'italic'),
  'Karla-Regular': (family: 'Karla', weight: 400, style: 'normal'),
  'Poppins-ExtraBold': (family: 'Poppins', weight: 800, style: 'normal')
);
