{{ define "main" }}
<div class="container mx-auto px-4">
  <section class="mb-20">
    <h2>Me</h2>
    <p>
      I'm Devin Schulz, front-end developer with a decade's worth of pixels and
      code under my belt, now crafting digital experiences at Cape Privacy.
      Remote work veteran since 2014, minimalist in progress, dad of two, and
      fueled by a never-ending stream of coffee—because what's code without a
      little caffeine humor?
    </p>
  </section>
  <section>
    <h2>Posts</h2>
    {{ $posts := where .Site.RegularPages "Section" "posts" }} {{ partial
    "summary-list" $posts }}
  </section>
</div>
{{ end }}
