.c-site-footer__scroll-top {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.2s var(--ease-in-out);
  bottom: theme('margin.8');
  right: theme('margin.8');

  &:active {
    transform: translateY(100%) scale(0.95);
  }

  &:hover,
  &:focus,
  &:active {
    color: theme('colors.white');
    background-color: theme('colors.black');
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;

    &:active {
      transform: translateY(0) scale(0.95);
    }
  }
}
