.c-summaries {
  &:hover {
    .c-summary:not(:hover) {
      opacity: 0.6;
    }
  }
}

.c-summary {
  transition: opacity 0.1s ease;

  &:hover {
    transition: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:visited {
    .c-summary__visited {
      color: theme('colors.blue.500');
    }
  }
}

.c-summary__visited {
  display: none;

  @media (--md-viewport) {
    color: white;
    display: block;
    left: -20px;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
  }
}
