.c-toc {
  nav > ul,
  nav > ul > li > ul {
    padding-left: 0;
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }

  @media print {
    display: none;
  }
}

.c-toc__title {
  margin-top: 0 !important;
}
