.c-site-footer__scroll-top {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.2s var(--ease-in-out);
  bottom: theme('margin.8');
  right: theme('margin.8');

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}
