.c-browser__menu {
  border-radius: theme('borderRadius.sm') theme('borderRadius.sm') 0 0;
  border-bottom: 1px solid theme('colors.grey-lighter');
}

.c-browser__frame {
  border: 1px solid theme('colors.grey-lighter');
  border-radius: theme('borderRadius.sm');
}

.c-browser__control {
  background-color: theme('colors.grey-lighter');
  border-radius: theme('borderRadius.full');
  width: 10px;
  height: 10px;

  & + & {
    margin-left: 5px;
  }
}

.c-browser__image {
  .no-js & {
    &.lazy {
      display: none;
    }
  }
}

.c-browser__viewport {
  height: 300px;
  overflow: hidden;

  &:not(.loading) {
    overflow: auto;
  }

  &.loading {
    .c-browser__spinner {
      display: flex;
    }
  }

  @media (--md-viewport) {
    height: 500px;
  }

  .no-js & {
    &.loading {
      .c-browser__spinner {
        display: none;
      }
    }
  }
}

.c-browser__spinner {
  display: none;
}

.c-browser__input {
  white-space: nowrap;
  min-width: 20rem;
  text-align: center;
}

.c-browser__button--previous {
  transform: scaleX(-1);
}

.c-browser__controls {
  opacity: 1;
  transition: opacity 0.3s var(--ease-out);

  .no-js & {
    opacity: 0;
    display: none;
  }
}
