.c-browser__menu {
  border-radius: var(--rounded) var(--rounded) 0 0;
  border-bottom: 1px solid var(--color-grey-lighter);
}

.c-browser__frame {
  border: 1px solid var(--color-grey-lighter);
  border-radius: var(--rounded);
}

.c-browser__control {
  background-color: var(--color-grey-lighter);
  border-radius: var(--rounded-full);
  width: 10px;
  height: 10px;

  & + & {
    margin-left: 5px;
  }
}

.c-browser__image {
  .no-js & {
    &.lazy {
      display: none;
    }
  }
}

.c-browser__viewport {
  height: 300px;
  overflow: hidden;

  &:not(.loading) {
    overflow: auto;
  }

  &.loading {
    .c-browser__spinner {
      display: flex;
    }
  }

  @media (--md-viewport) {
    height: 500px;
  }
}

.c-browser__spinner {
  display: none;
}

.c-browser__input {
  white-space: nowrap;
  min-width: 20rem;
  text-align: center;
}

.c-browser__button--previous {
  transform: scaleX(-1);
}

.c-browser__controls {
  opacity: 1;
  transition: opacity 0.3s;

  .no-js & {
    opacity: 0;
    display: none;
  }
}
