.c-post {
}

.c-post__content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--m-12);

    @media print {
      margin-top: 0.5cm;
    }
  }

  p {
    hyphens: auto;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
