h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.black');
  font-weight: theme('fontWeight.bold');
  letter-spacing: -0.02em;
  line-height: theme('lineHeight.tight');
  margin-bottom: theme('margin.4');
  margin-top: 0;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: theme('margin.-2') !important;
  }

  a {
    color: inherit;
    background-image: none;
    text-shadow: -1px -1px 0 theme('colors.white'), 1px -1px 0 theme('colors.white'),
      -1px 1px 0 theme('colors.white'), 1px 1px 0 theme('colors.white');

    &:focus,
    &:hover {
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 2px,
        theme('colors.blue-lighter') 2px,
        theme('colors.blue-lighter') 3px,
        rgba(0, 0, 0, 0) 3px
      );

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 2px,
          theme('colors.blue-lighter') 2px,
          theme('colors.blue-lighter') 2.5px,
          rgba(0, 0, 0, 0) 2.5px
        );
      }
    }
  }
}

h1 {
  font-size: theme('fontSize.4xl');
}

h2 {
  font-size: theme('fontSize.3xl');
}

h3 {
  font-size: theme('fontSize.2xl');
}

h4 {
  font-size: theme('fontSize.xl');
}

h5 {
  font-size: theme('fontSize.lg');
}

h6 {
  font-size: theme('fontSize.md');
}
