h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.black');
  font-weight: theme('fontWeight.bold');
  letter-spacing: -0.02em;
  line-height: theme('lineHeight.tight');
  margin-bottom: theme('margin.4');
  margin-top: 0;

  .mode-dark & {
    color: theme('colors.grey.100');
  }

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: theme('margin.-2') !important;
  }

  a {
    color: inherit;
    text-decoration-color: theme('colors.grey.100');

    .mode-dark & {
      text-decoration-color: theme('colors.grey.500');
    }
  }
}

h1 {
  font-size: theme('fontSize.4xl');
}

h2 {
  font-size: theme('fontSize.3xl');
}

h3 {
  font-size: theme('fontSize.2xl');
}

h4 {
  font-size: theme('fontSize.1xl');
}

h5 {
  font-size: theme('fontSize.md');
}

h6 {
  font-size: theme('fontSize.sm');
}
