a {
  color: theme('colors.blue.500');
  text-decoration-skip-ink: auto;
  text-decoration: underline theme('colors.blue.100');

  &:focus,
  &:hover {
    text-decoration-color: currentColor;
  }

  .mode-dark & {
    color: theme('colors.white');
    text-decoration-color: theme('colors.grey.300');

    &:focus,
    &:hover {
      text-decoration-color: currentColor;
    }
  }
}
