p > code {
  border-radius: var(--rounded);
  border: 1px solid var(--color-grey-lighter);
  font-size: var(--text-sm);
  padding: 0 var(--m-1);
}

pre {
  border-radius: var(--rounded);
  border: 1px solid var(--color-grey-lighter);
  font-size: var(--text-sm);
  margin-bottom: var(--m-4);
  overflow: auto;

  code {
    display: inline-block;
    padding: var(--p-4);
  }
}
