*:not(pre) {
  > code {
    border-radius: theme('borderRadius.sm');
    border: 0;
    font-size: theme('fontSize.sm');
    padding: theme('padding.1');
    background-color: theme('colors.green-lightest');
    color: theme('colors.green-darkest');
    hyphens: none;
  }
}

pre {
  background-color: theme('colors.black');
  border-radius: theme('borderRadius.sm');
  border: 0;
  box-shadow: theme('boxShadow.default');
  font-family: theme('fontFamily.mono');
  font-size: theme('fontSize.sm');
  overflow: auto;

  code {
    display: inline-block;
    padding: theme('padding.4');

    @media print {
      padding: 0.25cm;
    }
  }
}
