h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-weight: var(--font-bold);
  letter-spacing: -0.02em;
  line-height: var(--leading-tight);
  margin-bottom: var(--m-4);
  margin-top: 0;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: calc(var(--m-2) * -1) !important;
  }

  a {
    color: inherit;
  }
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-md);
}
