img {
  &.lazy {
    display: block;
    border: 0;
    opacity: 0;

    &:not(.initial) {
      transition: opacity 0.3s;
    }

    &:not([src]) {
      visibility: hidden;
    }

    &.initial,
    &.loaded,
    &.error {
      opacity: 1;
    }
  }
}
