.o-layout {
  display: grid;
  grid-column-gap: var(--gutter);
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: var(--gutter);

  @media (--md-viewport) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.o-layout--center {
  grid-column: 1 / span 6;

  @media (--md-viewport) {
    grid-column: 3 / span 8;
  }
}

.o-layout--full {
  grid-column: 1 / span 6;

  @media (--md-viewport) {
    grid-column: 1 / span 12;
  }
}

.o-layout--semi {
  grid-column: 1 / span 6;

  @media (--md-viewport) {
    grid-column: 3 / span 8;
  }

  @media (--lg-viewport) {
    grid-column: 3 / span 7;
  }
}
