@custom-media --sm-viewport (min-width: 576px);
@custom-media --sm-viewport-only (max-width: 768px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --md-viewport-only (min-width: 576px and max-width: 768px);
@custom-media --lg-viewport (min-width: 992px);
@custom-media --xl-viewport (min-width: 1200px);

:root {
  --gutter: 1rem;
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
}
