.u-comma-list {
  display: inline;

  li {
    display: inline;

    &::after {
      content: '\002C\0020';
    }

    &:nth-last-child(2)::after {
      content: ', and ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
