@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $y to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@if variable-exists(fonts) {
  @each $file, $option in $fonts {
    @font-face {
      font-display: swap;
      font-family: map-get(map-get($fonts, $file), family);
      font-style: map-get(map-get($fonts, $file), style);
      font-weight: map-get(map-get($fonts, $file), weight);
      src: local(map-get(map-get($fonts, $file), local)), local($file),
        url('../fonts/#{$file}.woff') format('woff');
    }
  }
}
