@if variable-exists(fonts) {
  @each $file, $option in $fonts {
    $font: map-get($fonts, $file);
    @font-face {
      font-display: swap;
      font-family: map-get($font, family);
      font-style: map-get($font, style);
      font-weight: map-get($font, weight);
      src: local(map-get($font, local)), local($file),
        url('../fonts/#{$file}.woff2') format('woff2'),
        url('../fonts/#{$file}.woff') format('woff');
    }
  }
}
