@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $y to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}
