{{ define "main" }}
  <section class="o-container" itemscope itemtype="http://schema.org/Blog">
    {{ partial "masthead.html" . }}

    {{ if eq .Kind "taxonomyTerm" }}
      {{ range .Data.Pages }}
        {{ range .Data.tag }}
          {{ range .Params.Tags }}
            {{ $.Scratch.SetInMap "tags" . . }}
          {{ end }}
        {{ end }}
      {{ end }}
      <ul class="c-tags u-inline-list u-small-text">
        {{ range .Scratch.Get "tags" }}
          {{ $link := . | urlize | printf "%s%s" "/tags/" | printf "%s/" }}
          <li itemprop="keywords" class="c-tags__item"><a href="{{ $link }}" class="c-tag">{{ . }}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      {{ range .Data.Pages }}
        {{ partial "summary" . }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
