{{ define "main" }}
  <section class="container" itemscope itemtype="http://schema.org/Blog">
    {{ partial "masthead.html" . }}
    {{ if eq .Kind "taxonomyTerm" }}
      <ul class="list-reset text-sm flex justify-center max-w-md mx-auto flex-wrap">
        {{ range sort .Site.Taxonomies.tags.ByCount }}
          {{- $link := .Name | urlize | printf "%s%s" "/tags/" | printf "%s/" -}}
          <li itemprop="keywords" class="tag inline-block">
            <a href="{{ $link }}" class="tag-link">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <div class="summaries">
        {{ range .Data.Pages }}
          {{ partial "summary.html" (dict "context" .) }}
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}
