{{ define "main" }}
  <section class="o-container" itemscope itemtype="http://schema.org/Blog">
    {{ partial "masthead.html" . }}
    {{ if eq .Kind "taxonomyTerm" }}
      <ul class="c-tags u-inline-list u-small-text">
        {{ range sort .Site.Taxonomies.tags.ByCount }}
          {{- $link := .Name | urlize | printf "%s%s" "/tags/" | printf "%s/" -}}
          <li itemprop="keywords" class="c-tags__item"><a href="{{ $link }}" class="c-tag">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      {{ range .Data.Pages }}
        {{ partial "summary.html" (dict "context" .) }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
