{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "main" }}
  <article>
    <section class="container">
      <div class="o-layout">
        <div class="o-layout--center">
          {{ $likes := getJSON (printf "%s/" .Site.Params.cloudFunctionsEndpoint) }}
          {{ range (.Data.Pages.GroupByDate "2006") }}
            <h2>{{ .Key}}</h2>
            {{ range .Pages }}
              {{ partial "summary.html" (dict "ctx" . "condensed" true "likes" $likes "heading" "h3") }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
