{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "main" }}
  <article>
    <section class="container">
      {{ range $index, $value := (.Data.Pages.GroupByDate "2006") }}
        <div class="o-layout {{ if ne $index 0 }}mt-12{{ end }}">
          <div class="o-layout--center">
            <h2>{{ $value.Key }}</h2>
          </div>
        </div>
        {{ partial "summaries.html" $value.Pages }}
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
