{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="c-post container">
  <article class=" mb-12">
    <div class="o-layout">
      <header class="py-12 o-layout--pushed">
        {{ partial "post-meta.html" (dict "single" true "ctx" .) }}
        <h1 class="text-3xl md:text-6xl mb-4 md:mb-8">{{ .Title | title }}</h1>
        <div class="w-10 border-blue border-2"></div>
      </header>
      <div class="c-post__content o-layout--center">
        {{ .Content }}
        <footer class="mt-12 text-sm">
          {{ if .Lastmod }}
            <p class="italic{{ if .Params.canonical }} mb-0{{ end }}">Last updated on <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time></p>
          {{ end }}
          {{ with .Params.canonical }}
            {{ $url := urls.Parse . }}
            <p class="italic">Originally published at <a href="{{ . }}">{{ $url.Host }}</a></p>
          {{ end }}
          {{ partial "tags.html" . }}
        </footer>
      </div>
    </div>
    {{ partial "author.html" . }}
    {{ partial "related.html" . }}
  </article>
</div>
{{ partial "seo/structured/article.html" . }}
{{ end }}
