{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}

{{ define "main" }}
{{ $sm := 546 }}
{{ $md := 768 }}
{{ $lg := 840 }}
{{ $resources := .Resources.Match "featured.*" }}
{{ $hasFeaturedImage := gt (len $resources) 0 }}

<div class="c-post container">
  <article class=" mb-12">
    <div class="o-layout">
      <header class="py-12 o-layout--center">
        {{ partial "post-meta.html" (dict "single" true "ctx" .) }}
        <h1 class="text-3xl md:text-5xl {{ if not $hasFeaturedImage }}mb-4 md:mb-8{{ end }}">{{ .Title | title }}</h1>
        {{ if not $hasFeaturedImage }}
          <div class="w-10 border-blue-500 border-2"></div>
        {{ end }}
      </header>
      {{ with $resources }}
      <figure class="o-layout--full mb-8">
      <picture data-controller="lazy-images">
        {{ $resource := index . 0 }}
        {{ $desktop := $resource.Resize (printf "%dx" $lg) }}
        {{ $desktopRetina := $resource.Resize (printf "%dx" (mul $lg 2)) }}
        <source media="(min-width: {{ $lg }}px)" data-srcset="{{ $desktop.RelPermalink }}, {{ $desktopRetina.RelPermalink }} 2x" />
        {{ $tablet := $resource.Resize (printf "%dx" $md) }}
        {{ $tabletRetina := $resource.Resize (printf "%dx" (mul $md 2)) }}
        <source media="(min-width: {{ $md }}px)" data-srcset="{{ $tablet.RelPermalink }}, {{ $tabletRetina.RelPermalink }} 2x" />
        {{ $mobile := $resource.Resize (printf "%dx" $sm) }}
        {{ $mobileRetina := $resource.Resize (printf "%dx" (mul $sm 2)) }}
        <img data-src="{{ $mobile.RelPermalink }}" data-srcset="{{ $mobile.RelPermalink }} 2x" class="w-full m-auto rounded block lazy" alt="{{ $.Title }}" />
        <noscript>
          <img src="{{ $desktop.RelPermalink }}" srcset="{{ $desktop.RelPermalink }} 2x" class="w-full m-auto rounded block" alt="{{ $.Title }}" />
        </noscript>
      </picture>
      {{ with $.Params.credit}}
        <figcaption class="text-sm mt-2 text-center">{{ . | markdownify }}</figcaption>
      {{ end }}
      </figure>
      {{ end }}
      <div class="c-post__content o-layout--center">
        {{ .Content }}
        <footer class="mt-12 text-sm">
          {{ partial "tags.html" . }}
          {{ if .Lastmod }}
          <p class="italic mb-0 mt-4">
            Last updated on <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time>
          </p>
          {{ end }}
          {{ with .Params.canonical }}
            {{ $url := urls.Parse . }}
            <p class="italic">Originally published at <a href="{{ . }}">{{ $url.Host }}</a></p>
            {{ end }}
            <p class="">
            Found a typo or problem? <a href="https://github.com/devinschulz/blog/blob/master/site/content/{{ .File.Path }}">Edit on Github</a>
          </p>

        </footer>
      </div>
    </div>
    {{ partial "author.html" . }}
    {{ partial "related.html" . }}
  </article>
</div>
{{ partial "seo/structured/article.html" . }}
{{ end }}
