pre {
  @include typi('code');
  background-color: $color-light-background;
  overflow-x: auto;
  display: block;

  .theme-dark & {
    background-color: $color-dark-light-background;
  }

  @include mq(large) {
    border-radius: $global-radius;
  }

  > code {
    color: inherit;
    padding: $m;
    display: inline-block;
    border: 0;

    .theme-dark & {
      color: inherit;
    }
  }
}

code {
  @include typi('code');
  background-color: $color-light-background;
  padding: $xxs / 2 $xxs;
  color: $color-link;

  .theme-dark & {
    background-color: $color-dark-light-background;
    color: $color-dark-link;
  }
}
