/*----------------------------------*\
    #LINKS
\*----------------------------------*/

a {
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
  text-decoration-color: $color-link-lines;

  .theme-dark & {
    text-decoration-color: $color-dark-link-lines;
  }

  @include hover-focus {
    color: $color-link-hover;
    text-decoration-color: currentColor;

    .theme-dark & {
      color: $color-dark-link-hover;
    }
  }

  @include active {
    color: $color-link-active;
    text-decoration-color: currentColor;

    .theme-dark & {
      color: $color-dark-link-active;
    }
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
