%heading {
  color: $color-headings;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  letter-spacing: -0.035em;
  margin-bottom: $m;
  margin-top: $l;

  .theme-dark & {
    color: $color-dark-headings;
  }

  a {
    color: inherit;
    text-decoration: none;

    .theme-dark & {
      color: $color-dark-headings;
    }

    @include hover-focus {
      color: $color-headings-hover;

      .theme-dark & {
        color: $color-dark-headings-hover;
      }
    }
  }
}

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
  #{$heading},
  .#{$heading} {
    @extend %heading;
    @include typi('#{$heading}');
  }
}
