---
import "../styles/global.css";
import { SEO, type Props as SEOProps } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MobileNav from "../components/MobileNav.astro";
import MobileNavToggle from "../components/MobileNavToggle.astro";
import Favicon from "./Favicon.astro";
import "@fontsource-variable/karla";
import "@fontsource-variable/exo";

export interface Props extends SEOProps {}

const { props } = Astro;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      titleTemplate="% - Devin Schulz"
      titleDefault="Devin Schulz"
      charset="utf-8"
      {...props}
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <Favicon />
    <slot name="meta" />
  </head>
  <body
    class="min-h-full w-screen overflow-hidden bg-gray-100 font-sans antialiased dark:bg-gray-900 md:text-lg lg:text-xl xl:text-2xl"
    data-controller="mobile-nav"
    data-action="resize@window->mobile-nav#close"
  >
    <MobileNav />
    <MobileNavToggle open />
    <div
      data-mobile-nav-target="page"
      class="relative z-30 h-screen overflow-y-auto overflow-x-hidden bg-white dark:bg-black"
    >
      <MobileNavToggle />
      <Header />
      <main id="main">
        <slot name="main" />
      </main>
      <Footer />
    </div>
    <script>
      import { Application } from "@hotwired/stimulus";
      import CarouselController from "../js/controllers/carouselController";
      import MobileNavController from "../js/controllers/mobileNavController";

      const application = Application.start();

      application.register("mobile-nav", MobileNavController);
      application.register("carousel", CarouselController);
    </script>
  </body>
</html>
