---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Favicon from "./Favicon.astro";
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
  </head>

  <body class="text-text-body bg-bg-body mx-auto max-w-3xl px-4 sm:px-8">
    <Header />
    <main id="main">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        min-height: 100vh;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
